/* Disable rare achievements effect */
    /* [class*="achievementiconbase_RareAchievementIconGlowContainerRoot"], [class*="achievementiconbase_RareAchievementIconGlowContainer"]{display: none;} */
    /* [class*="achievementiconbase_Icon"][class*="achievementiconbase_IconGlow"]{box-shadow: none;} */

/* Disable avatar borders/frames */
    /* .avatarFrame{display: none !important;} */

/* Disable lines on PFPs in Friends */
    .avatarStatus{background: transparent !important; width: 0 !important;}