._2sNr7PFYcJZWNkEMCDVVPR{
    background: var(--DarkGreenBG);
}

._2q70uOe6xM3-c5XIVfBLe6 ._2rqTSCLSSEycEiuCS_OkpX ._2oJt3qYLAqr6xMjnpmBFLN{
    text-transform: none;
    color: var(--OffWhite);
    font-weight: 400;
}

._2q70uOe6xM3-c5XIVfBLe6 ._2rqTSCLSSEycEiuCS_OkpX ._3Xgxj6vaGiKSEal2iaSrYl{
    color: var(--Label);
}

._2q70uOe6xM3-c5XIVfBLe6 ._2rqTSCLSSEycEiuCS_OkpX ._1grg9gmk1v5ri4iOuDymaz{
    background: var(--GreenBG)
}

.appgrid_CollectionOptionsRightJustified_3t1pL ._38IOu1p2yIVM7uP-dMWew6{
    color: var(--Maize);
}

._6zcMsloKVA3_bv5nQ0OQE{
    display: none;
}

._3bWISeqP3H2j6YJnFwVEwu{
    box-shadow: none;
}

._3bWISeqP3H2j6YJnFwVEwu::after{
    background: var(--GreenBG);
    border-bottom: var(--Outset);
    box-shadow: none;
}