._1bq4x9pa4-9RLY-dXWUZTp{
    background: var(--DarkGreenBG)
}

/* Graph & Stats =====================================================================*/
._3KDkLoCR8OM8xfdQysKn9t{
    background: var(--DarkGreenBG)
}

.SEmVpmXrYVl3OxL1sDFTg{
    background: var(--Maize)
}

._3mZ2rKd2RECK4q4ufmsDYX{
    z-index: 5;
}

._3mZ2rKd2RECK4q4ufmsDYX.pHDI1ddoKXceD5KL7W-4z{
    background: transparent;
}

._3mZ2rKd2RECK4q4ufmsDYX ._3WauYi7bNDSGIogMLPVYES .edQzwM57P-T5K3eDGkyvZ{
    background: transparent;
}

._3mZ2rKd2RECK4q4ufmsDYX ._3WauYi7bNDSGIogMLPVYES ._2NqL3nV35eJFAu56_Yu-WM img{
    opacity: 0;
}

._3mZ2rKd2RECK4q4ufmsDYX ._2VT4s72bqcVb83Su1b1VEv{
    display: none;
}

._3mZ2rKd2RECK4q4ufmsDYX ._1H3SuC0g9zjHUSMZY2T32U img{
    background: var(--GreenBG);
    border: var(--Outset);
    padding: 0 16px;
}


.hGZq446tJ_aWpDLU9rRSM{
    -webkit-mask: none;
    mask: none;
    mix-blend-mode: normal;
    margin: 0;
}

.hGZq446tJ_aWpDLU9rRSM ._3H2JWLH8rucdSC1XVZ7Xdk{
    stroke: var(--DimListText);
}

.hGZq446tJ_aWpDLU9rRSM .OS07NfYlp6v-Eh5oQ7dwn{
    color: var(--Maize);
}

.hGZq446tJ_aWpDLU9rRSM ._1QHr4A7EN2DgQfJIdu3rTh{
    background: var(--Maize)
}

.hGZq446tJ_aWpDLU9rRSM ._33jqEbo2sBXJZ08w9BkdEM svg{
    color: var(--Maize);
}

.hGZq446tJ_aWpDLU9rRSM ._1iulCOMUxV6sBbqoKo_yXw{
    color: var(--OffWhite);
    text-transform: none;
}

._3mdnpmV9S9u27eB5JFwFNk ._34H1wIZZZBEL43X2j8RFu6{
    text-transform: none;
}

._17xMwzVlHSppd7bM5VEJm0{
    text-transform: none;
    color: var(--Label);
}

._20JlDJD9-uoCjNLGp_8mY6.kGTS55N3oEbxE7HAgE9ZX{
    background: var(--DarkGreenBG)
}

/* Currently Downloading =====================================================================*/
.IbePLaw-vSvhG1GTenYFg .OINnOU8K5HzPe2nzczpZi, .IbePLaw-vSvhG1GTenYFg .OINnOU8K5HzPe2nzczpZi:hover{
    border: 2px solid transparent;
    background-color: transparent;
}

._17xMwzVlHSppd7bM5VEJm0.IbePLaw-vSvhG1GTenYFg{
    background-color: var(--GreenBG);
}

._3a973VY2X3US_cZqA9ZgNF{
    color: var(--OffWhite);
}

/* Up Next & Scheduled =====================================================================*/

.qq2xItSXjpCsNrcxyPJtO .TitleAndCount .TitleBar, .mw7VZNUZJWOhSrh3-kiym .TitleAndCount [Class*="Title"]{
    color: var(--OffWhite);
}

.qq2xItSXjpCsNrcxyPJtO ._1CGnw50aAma6AYKF51Qzsm, ._117rQTHH1RIewY7sSlvg3Z, ._1nCT-M7nZcoNzedbVzbXha, .sv3ZHPWbrD7yjwx5Mi3u5 ._1dHjjSl-57o1KQsQ1m1HSA, ._17xMwzVlHSppd7bM5VEJm0 ._33BlYvS1Nk_bwGx_5JX2KU ._2ns4wnmgr4XBzARpwn2NZ1, ._17xMwzVlHSppd7bM5VEJm0 ._2ns4wnmgr4XBzARpwn2NZ1 ._3WavcSX0NkHlBh5fICWKyB{
    color: var(--Label);
}

._117rQTHH1RIewY7sSlvg3Z:hover{
    color: var(--Maize);
}

.qq2xItSXjpCsNrcxyPJtO ._1CTr1yKRkOXnJ4gSS1-1A3{
    background: var(--Label)
}

._1VNuYHM6BPBOJspC6zPf5r:hover{
    background-color: transparent;
}

._17xMwzVlHSppd7bM5VEJm0._3-SbBb63lDnu6LzKV-q3Cg{
    background-color: var(--GreenBG);
    border-radius: 0%;
}

._17xMwzVlHSppd7bM5VEJm0._3-SbBb63lDnu6LzKV-q3Cg ._14DhZoqwtCm4l0yDeN6QZe{
    color: var(--Maize);
}

._21P7c4MWmsU2QSZeL-uyZo{
    background-color: var(--GreenBG);
    border: var(--Outset);
    box-sizing: border-box;
    margin: 3px 0;
    transition: none;
}

._21P7c4MWmsU2QSZeL-uyZo:first-of-type{
    margin: 0;
    margin-bottom: 3px;
}

._21P7c4MWmsU2QSZeL-uyZo:last-of-type{
    margin: 0;
    margin-top: 3px;
}

._17xMwzVlHSppd7bM5VEJm0 ._2xR-V97DWI7svSjgiCb3N-{
    opacity: 1;
}

._17xMwzVlHSppd7bM5VEJm0 ._14DhZoqwtCm4l0yDeN6QZe{
    color: var(--OffWhite);
    transition: none;
}

._17xMwzVlHSppd7bM5VEJm0 ._1vMU1vG5ZtLihr3mfXUymR{
    background: var(--DarkGreenBG) !important;
}

.rAgGchL8gHQ0e9OxOb9aD .ZsU8nIIpj8MJn0vzMzSp1 ._24_AuLm54JVe1Zc0AApCDR{
    height: 90%;
    margin: 2.5% 0;
    border: var(--Outset);
}

._17xMwzVlHSppd7bM5VEJm0 ._35eOQ6EeVHNV5HGBrJ1-Vu{
    color: var(--OffWhite);
}

._1IKbaHLvcciS-EMMYx1WVG svg{
    color: var(--OffWhite);
}

.OINnOU8K5HzPe2nzczpZi._2m6Q3ca-wXeLIVShFCO51T{
    outline: 3px solid var(--Maize);
    outline-offset: -5px;
    border: 2px solid transparent;
    border-radius: 0%;
}

.OINnOU8K5HzPe2nzczpZi._2m6Q3ca-wXeLIVShFCO51T.d9VKGABvFZQGmdqtaicMo{
    background: none;
    outline: 5px solid var(--Maize);
    outline-offset: -7px;
    border: 2px solid transparent;
}

