/* Disable tilt on hover */
[class*="appportrait_HoversEnabled"] [class*="appportrait_LibraryItemBox_"]:hover:not([class*="Landscape"]){
    transform: rotateX(0deg) translateZ(0px);
    box-shadow: none;
    filter: brightness(1) contrast(1) saturate(1);
}

/* Disable zoom */
[class*="appportrait_HoversEnabled"] [class*="appportrait_LibraryItemBox_"]:hover:not([class*="Portrait"]) img{
    transform: scale(1) !important;
    filter: brightness(1) contrast(1) saturate(1) !important;
}

/* Backgrounds  */
[class*="libraryhome_LibraryHome"]{
    background: var(--DarkGreenBG);
}

[class*="libraryhome_UpdatesContainer"]{
    background: var(--DarkGreenBG);
}

/* What's New Section */

[class*="pageablecontainer_HeaderPageControls"]{
    margin-bottom: 5px;
}

[class*="pageablecontainer_HeaderPageControls"] [class*="pageablecontainer_Name"]{
    color: var(--OffWhite);
    text-transform: none;
    margin-right: 3px;
    line-height: 28px;
}

[class*="boxcarousel_BoxCarouselContents"] > [class*="libraryhomenewupdates_PartnerEventRowCapsule_"]{
    background: var(--GreenBG);
    border: var(--Outset);
    padding: 5px;
    height: auto;
}

[class*="boxcarousel_BoxCarouselContents"][class*="boxcarousel_MaskRight"]{
    -webkit-mask-image: none;
    mask-image: none;
}

[class*="libraryhomenewupdates_EventTime"]{
    color: var(--Label);
}

[class*="libraryhomenewupdates_Event_Title"] div[class*="libraryhomenewupdates_PartnerEventRowCapsule_TextTitle"]{
    color: var(--OffWhite);
}


[class*="libraryhomenewupdates_GameIconAndName"], [class*="libraryhomenewupdates_GameIconAndName"]:hover{
    background-color: var(--GreenBG);
    border: var(--Outset);
}

[class*="libraryhomenewupdates_GameIconAndName"] [class*="libraryhomenewupdates_GameName"]{
    color: var(--OffWhite);
}

[class*="libraryhomenewupdates_GameIconAndName"]:hover [class*="libraryhomenewupdates_GameName"]{
    color: var(--Maize);
}

[class*="libraryhomenewupdates_GameIcon_"]{
    padding: 2px 0 2px 2px;
    width: 16px;
    height: 16px;
}

[class*="libraryhomenewupdates_PartnerEventRowCapsule_Container"] [class*="libraryhomenewupdates_EventTimeSpan"]{
    background: var(--LightGreenBG);
    border: var(--Outset);
    z-index: 10;
}

[class*="libraryhomenewupdates_GameIconAndName"]:hover [class*="libraryhomenewupdates_GameIcon"]{
    filter: brightness(1);
}

[class*="libraryhomenewupdates_PartnerEventRowCapsule_Container_"][class*="libraryhomenewupdates_HoversEnabled"]:hover [class*="libraryhomenewupdates_EventSummaryContainer"]{
    background-color: rgba(145, 134, 60, .3)
}

[class*="libraryhomenewupdates_PartnerEventRowCapsule_Container_"][class*="libraryhomenewupdates_HoversEnabled"] [class*="libraryhomenewupdates_EventSummaryContainer"] [class*="libraryhomenewupdates_EventSummaryType"]{
    text-transform: none;
}

[class*="libraryhomenewupdates_PartnerEventRowCapsule_Container_"][class*="libraryhomenewupdates_HoversEnabled"]:hover [class*="libraryhomenewupdates_EventSummaryContainer"] [class*="libraryhomenewupdates_EventSummaryType"]{
    color: var(--Maize);
}

[class*="pageablecontainer_HeaderPageControls"] [class*="libraryhomenewupdates_SettingsButton"]{
    margin: 4px;
    height: 18px;
    width: 18px;
}

[class*="pageablecontainer_HeaderPageControls"] [class*="libraryhomenewupdates_SettingsButton"] svg path{
    stroke: var(--OffWhite);
    fill: var(--OffWhite);
    transition: none;
}

[class*="pageablecontainer_HeaderPageControls"] [class*="libraryhomenewupdates_SettingsButton"]:hover svg path{
    stroke: var(--Maize);
    fill: var(--Maize);
}

[class*="pageablecontainer_HeaderPageControls"] > div:not([class*="pageablecontainer"]){
    background-color: var(--GreenBG);
    border: var(--Outset);
}

[class*="pageablecontainer_PageClickContainer"] [class*="pageablecontainer_PageLeft"], [class*="pageablecontainer_PageClickContainer"] [class*="pageablecontainer_PageRight"]{
    background: var(--GreenBG);
    border: var(--Outset);
    opacity: 1;
    padding: 3px;
}

[class*="pageablecontainer_PageClickContainer"] [class*="pageablecontainer_PageLeft"]:not([class*="Disabled"]):active, [class*="pageablecontainer_PageClickContainer"] [class*="pageablecontainer_PageRight"]:not([class*="Disabled"]):active{
    background-color: var(--DarkGreenBG);
    border: var(--Inset);
}

[class*="pageablecontainer_PageClickContainer"] [class*="pageablecontainer_PageLeft"] polyline, [class*="pageablecontainer_PageClickContainer"] [class*="pageablecontainer_PageRight"] polyline{
    stroke: var(--OffWhite);
    transform: translateX(40px);
}

[class*="pageablecontainer_PageClickContainer"] [class*="pageablecontainer_PageLeft"]:not([class*="Disabled"]):hover polyline, [class*="pageablecontainer_PageClickContainer"] [class*="pageablecontainer_PageRight"]:not([class*="Disabled"]):hover polyline{
    stroke: var(--Maize);
}

[class*="libraryhomenewupdates_EventOptions_"]>div{
    background-color: var(--GreenBG);
    border: var(--Outset);
    border-radius: 0%;
}

/* What's New Popup Settings */
[class*="libraryhomenewupdates_WhatsNewSettingsContainer"]{
    background: var(--GreenBG);
    border: var(--Outset);
}

.DialogLabel[class*="libraryhomenewupdates_WhatsNewHeaderText"]{
    color: var(--OffWhite);
}

._DialogInputContainer[class*="libraryhomenewupdates_WhatsNewPriorityContainer"]{
    background: var(--DarkGreenBG);
    border: var(--Inset);
    border-radius: 0%;
}

._DialogInputContainer [class*="libraryhomenewupdates_DialogSoftLabel"]{
    color: var(--Label);
}

[class*="libraryhomenewupdates_WhatsNewGameListSection"] [class*="libraryhomenewupdates_WhatsNewGameListRow"]{
    width: fit-content;
    background: var(--GreenBG);
    border: var(--Outset);
    padding: 0 3px;
}
[class*="libraryhomenewupdates_WhatsNewGameListSection"] [class*="libraryhomenewupdates_WhatsNewGameListRow"]:not(:last-of-type){
    margin-bottom: 6px;
}


[class*="libraryhomenewupdates_WhatsNewGameListSection"] [class*="libraryhomenewupdates_WhatsNewGameListRow"] .DialogToggle_Description{
    color: var(--OffWhite);
}

[class*="libraryhomenewupdates_WhatsNewGameListSection"] [class*="libraryhomenewupdates_WhatsNewGameListRow"] [class*="libraryhomenewupdates_WhatsNewSettingsUndoButton"]{
    margin: 0 0 0 6px;
    background-color: transparent !important;
}

[class*="libraryhomenewupdates_WhatsNewGameListSection"] [class*="libraryhomenewupdates_WhatsNewGameListRow"] [class*="libraryhomenewupdates_WhatsNewSettingsUndoButton"] line{
    stroke: var(--OffWhite);
}

[class*="libraryhomenewupdates_WhatsNewGameListSection"] [class*="libraryhomenewupdates_WhatsNewGameListRow"] [class*="libraryhomenewupdates_WhatsNewSettingsUndoButton"]:hover line{
    stroke: var(--Maize);
}

[class*="libraryhomenewupdates_WhatsNewSettings_"] ._DialogInputContainer{
    background: var(--DarkGreenBG);
    border: var(--Inset);
    border-top: none;
    border-radius: 0%;
}

[class*="libraryhomenewupdates_WhatsNewSettings_"] .DialogToggleField{
    background: var(--DarkGreenBG);
    border: var(--Inset);
    border-bottom: none;
    border-radius: 0%;
    margin-bottom: 0;
}

[class*="toggle_Toggle_"] > div{
    box-shadow: none !important;
    transition: none !important;
}

[class*="toggle_Toggle_"] [class*="toggle_ToggleRail_"]{
    border-radius: 0%;    
    height: 16px;
    top: 0;
    left: 0;
    border: var(--Inset);
    background: var(--DarkGreenBG)
}
[class*="toggle_Toggle_"] [class*="toggle_ToggleRail_"][class*="On"]{
    background: var(--MaizeBG)
}

[class*="toggle_Toggle_"] [class*="toggle_ToggleSwitch_"][class*="Off"]{
    border-radius: 0%;
    transition: none;
    border: var(--Outset);
    background: var(--GreenBG);
}
[class*="toggle_Toggle_"] [class*="toggle_ToggleSwitch_"][class*="On"]{
    border-radius: 0%;
    transition: none;
    border: var(--Outset);
    background: var(--Maize);
    transform: translateX(20px);
}

/* Shelves */

[class*="appportrait_AppPortraitBanner_"]{
    background: var(--GreenBG);
    border: var(--Outset);
    text-transform: none;
    box-shadow: none;
}

[class*="Draggable"][class*="HoversEnabled"]:not([class*="appportrait_Soundtrack"]):hover [class*="appportrait_AppPortraitBannerContainer"]{
    transform: translateZ(0);
}

[class*="libraryhomeshowcases_ShowcaseHeader"] [class*="libraryhomeshowcases_Rule"]{
    transition: none;
    background-color: var(--GreenBG);
}

[class*="libraryhomeshowcases_ShowcaseHeader"]:hover [class*="libraryhomeshowcases_Rule"]{
    border: var(--Outset);
}

[class*="libraryhomeshowcases_ShowcaseHeader"] .SVGIcon_ReadyToPlay circle{
    stroke: var(--Maize);
}

[class*="libraryhomeshowcases_ShowcaseHeader"] .SVGIcon_ReadyToPlay path{
    fill: var(--Maize);
}

[class*="appgrid_SortingDropDown"] [class*="appgrid_SortingDropDownLabel"]{
    text-transform: none;
    color: var(--Label)
}

[class*="DialogDropDown_CurrentDisplay"]{
    color: var(--OffWhite);
}

[class*="appgrid_SortingDropDown_"] .DialogDropDown{
    border: var(--Outset);
}

[class*="appgrid_SortingDropDown_"] .DialogDropDown > div{
    border-radius: none;
    background-color: var(--GreenBG);
}

.DesktopUI [class*="appgrid_SortingDropDownContainer"]>div, .DesktopUI [class*="libraryhomeshowcases_CollectionDropDownContainer"].DialogMenuPosition [class*="dropdown_DialogDropDownMenu_"]._DialogInputContainer{
    background: var(--GreenBG) !important;
    border: var(--Outset);
    box-shadow: none !important;
}

.DesktopUI [class*="appgrid_SortingDropDownContainer"]>div>div{
    background: transparent !important;
}

.DesktopUI [class*="appgrid_SortingDropDownContainer"]>div>div:hover, .DesktopUI [class*="libraryhomeshowcases_CollectionDropDownContainer"].DialogMenuPosition >div>div:hover{
    color: var(--Maize) !important;
    background: transparent !important;
}


/* Game Cards */
[class*="appportrait_HoversEnabled"] [class*="appportrait_LibraryItemBox_"][class*="Portrait"]{
    border: var(--Inset);
    box-shadow: none;
}

[class*="appportrait_HoversEnabled"] [class*="appportrait_LibraryItemBox_"][class*="Landscape"]{
    box-shadow: none;
}

[class*="appportrait_PortraitImage"] [class*="Landscape"]{
    border: var(--Inset);
    border-bottom: none;
}

[class*="appportrait_FooterBlurImageContainer"]{
    background: var(--GreenBG);
    border: var(--Outset);
    filter: blur(0);
}

[class*="appportrait_FooterBlurImageContainer"] > img{
    display: none;
}

[class*="appportrait_RecentGameFooter"] > [class*="appportrait_PlaytimeDetails"] > div{
    color: var(--OffWhite);
}

[class*="appportrait_HoversEnabled"] [class*="appportrait_LibraryItemBoxSubscript"]{
    border: var(--Outset);
    border-radius: 0%;
    background-color: var(--GreenBG);
    transition: none;
    transform: translateY(-3px);
    box-shadow: none;
}

[class*="appportrait_LibraryItemActionButton"][class*="Play"]:not([class*="Disabled"]), [class*="appportrait_LibraryItemActionButton"][class*="Download"]:not([class*="Disabled"]){
    background: var(--LightGreenBG);
    box-shadow: none;
    border-radius: 0%;
    border: var(--Outset);
}

[class*="appportrait_HoversEnabled"] [class*="appportrait_LibraryItemActionButton"][class*="Play"]:not([class*="Disabled"]):hover, [class*="appportrait_HoversEnabled"] [class*="appportrait_LibraryItemActionButton"][class*="Download"]:not([class*="Disabled"]):not([class*="Play"]):hover{
    background: var(--LightGreenBG);
}

[class*="appportrait_LibraryItemActionButton"][class*="Play"]:not([class*="Disabled"]) svg, [class*="appportrait_LibraryItemActionButton"][class*="Download"]:not([class*="Disabled"]) svg{
    fill: var(--OffWhite);
    transition: none;
}

[class*="appportrait_HoversEnabled"] [class*="appportrait_LibraryItemActionButton"][class*="Play"]:not([class*="Disabled"]):hover svg{
    fill: var(--Maize);
    transform: scale(1);
}

[class*="appportrait_HoversEnabled"] [class*="appportrait_LibraryItemActionButton"][class*="Download"]:not([class*="Disabled"]):not([class*="Play"]):hover svg{
    color: var(--Maize);
    transform: scale(0.9);
}