/* Disable tilt on hover =====================================================================*/
._54PuCatl_tYG836TOs4Mv .WYgDg9NyCcMIVuMyZ_NBC:hover:not(.Landscape){
    transform: rotateX(0deg) translateZ(0px);
    box-shadow: none;
    filter: brightness(1) contrast(1) saturate(1);
}

/* Disable zoom & shine =====================================================================*/
._54PuCatl_tYG836TOs4Mv .WYgDg9NyCcMIVuMyZ_NBC:hover:not(.Portrait) img{
    transform: scale(1) !important;
    filter: brightness(1) contrast(1) saturate(1) !important;
}

.MyNb5dG3FsBnKdp8j_ntk{
    display: none;
}

/* Backgrounds  =====================================================================*/
._1NCHRjqdjqGE3JbG4b0rLF{
    background: var(--DarkGreenBG);
}

._17uEBe5Ri8TMsnfELvs8-N{
    background: var(--DarkGreenBG);
}

/* What's New Section =====================================================================*/

._2pAbUZVnG9Q1TYOfdvFmtX{
    margin-bottom: 5px;
}

._2pAbUZVnG9Q1TYOfdvFmtX ._1Y5_HA7TsAPMiqgp01e3Ci{
    color: var(--OffWhite);
    text-transform: none;
    margin-right: 3px;
    line-height: 28px;
}

._3CJctA7pLVdwHzNF5JmORE > .DVBcpUzJ0x6kaRMfug0OJ{
    background: var(--GreenBG);
    border: var(--Outset);
    padding: 5px;
    height: auto;
}

._3CJctA7pLVdwHzNF5JmORE._1b9np87BteQi38-defpW0U{
    -webkit-mask-image: none;
    mask-image: none;
}

._2rlKqvybYupc-uk64cdQ8D{
    color: var(--Label);
}

._1Gu1U2_kcg3AWLrXQgX5S6 div.DVBcpUzJ0x6kaRMfug0OJ{
    color: var(--OffWhite);
}


._3_xMyCJAh_Dv99KgZ54P3j, ._3_xMyCJAh_Dv99KgZ54P3j:hover{
    background-color: var(--GreenBG);
    border: var(--Outset);
}

._3_xMyCJAh_Dv99KgZ54P3j ._28IqrZIgxpqkUQyhdaLDUN{
    color: var(--OffWhite);
}

._3_xMyCJAh_Dv99KgZ54P3j:hover ._28IqrZIgxpqkUQyhdaLDUN{
    color: var(--Maize);
}

._3tdftHFf8tvdJW34S-KwjR{
    padding: 2px 0 2px 2px;
    width: 16px;
    height: 16px;
}

.B-vCdL38RiJlhfSRgZv78 ._3OSZu24hLN7YKjqGi7I2Xp{
    background: var(--LightGreenBG);
    border: var(--Outset);
    z-index: 10;
}

._3_xMyCJAh_Dv99KgZ54P3j:hover ._3_xMyCJAh_Dv99KgZ54P3j{
    filter: brightness(1);
}

.B-vCdL38RiJlhfSRgZv78._278jFDApipeB4kFsi44_F5 ._1vIlyxb5BAwKPUkOfO94qZ{
    transition: none;
}

.B-vCdL38RiJlhfSRgZv78 .SPz0ipLqfF1oAO7tdrkdY{
    border-radius: 0%;
}

.B-vCdL38RiJlhfSRgZv78._278jFDApipeB4kFsi44_F5:hover ._3Rb_j3lgHaVVIud4Gla7_m{
    background-color: rgba(145, 134, 60, .45)
}

.B-vCdL38RiJlhfSRgZv78._278jFDApipeB4kFsi44_F5 ._3Rb_j3lgHaVVIud4Gla7_m ._1vIlyxb5BAwKPUkOfO94qZ{
    text-transform: none;
}

.B-vCdL38RiJlhfSRgZv78._278jFDApipeB4kFsi44_F5:hover ._3Rb_j3lgHaVVIud4Gla7_m ._1vIlyxb5BAwKPUkOfO94qZ{
    color: var(--Maize);
}

.B-vCdL38RiJlhfSRgZv78._278jFDApipeB4kFsi44_F5:hover .MainImageContainer > img{
    transform: scale(1);
    filter: blur(0) brightness(1);
}

._2pAbUZVnG9Q1TYOfdvFmtX ._1eFe5VbyACJE4RVGpOWKMC{
    margin: 4px;
    height: 18px;
    width: 18px;
}

._2pAbUZVnG9Q1TYOfdvFmtX ._1eFe5VbyACJE4RVGpOWKMC svg path{
    stroke: var(--OffWhite);
    fill: var(--OffWhite);
    transition: none;
}

._2pAbUZVnG9Q1TYOfdvFmtX ._1eFe5VbyACJE4RVGpOWKMC:hover svg path{
    stroke: var(--Maize);
    fill: var(--Maize);
}

._2pAbUZVnG9Q1TYOfdvFmtX > div:has(._1eFe5VbyACJE4RVGpOWKMC){
    background-color: var(--GreenBG);
    border: var(--Outset);
}

._3-h3X6yhzvZ_wk1lbCIWqb ._1TMDJB6ciSNtEh04B3SmF8, ._3-h3X6yhzvZ_wk1lbCIWqb ._2qGnLK2G3sqjtqVgYl6phc{
    background: var(--GreenBG);
    border: var(--Outset);
    opacity: 1;
    padding: 3px;
}

._3-h3X6yhzvZ_wk1lbCIWqb ._1TMDJB6ciSNtEh04B3SmF8:not(.Disabled):active, ._3-h3X6yhzvZ_wk1lbCIWqb ._2qGnLK2G3sqjtqVgYl6phc:not(.Disabled):active{
    background-color: var(--DarkGreenBG);
    border: var(--Inset);
}

._3-h3X6yhzvZ_wk1lbCIWqb ._1TMDJB6ciSNtEh04B3SmF8 polyline, ._3-h3X6yhzvZ_wk1lbCIWqb ._2qGnLK2G3sqjtqVgYl6phc polyline{
    stroke: var(--OffWhite);
    transform: translateX(40px);
}

._3-h3X6yhzvZ_wk1lbCIWqb ._1TMDJB6ciSNtEh04B3SmF8:not(.Disabled):hover polyline, ._3-h3X6yhzvZ_wk1lbCIWqb ._2qGnLK2G3sqjtqVgYl6phc:not(.Disabled):hover polyline{
    stroke: var(--Maize);
}

._2-p7shAZYrRijpaTU9bAFR > div{
    background-color: var(--GreenBG) !important;
    border: var(--Outset);
    box-shadow: none;
    border-radius: 0%;
}

/* What's New Popup Settings =====================================================================*/
._2JKpGzeAiwmBdY73bfRXz-{
    background: var(--GreenBG);
    border: var(--Outset);
}

.DialogLabel.fyxt0H7Cwfirf9908slPp{
    color: var(--OffWhite);
}

._DialogInputContainer._25JfLo9lwRM2V_2fUDsAaA{
    border-radius: 0%;
}

._DialogInputContainer .libraryhomenewupdates_DialogSoftLabel{
    color: var(--Label);
}

.VwcCoDMU0ROCpRAJ_cXTx ._2C3-Rj_GA3KP7GklMymoPM{
    width: fit-content;
    background: var(--GreenBG);
    border: var(--Outset);
    padding: 0 3px;
}
.VwcCoDMU0ROCpRAJ_cXTx ._2C3-Rj_GA3KP7GklMymoPM:not(:last-of-type){
    margin-bottom: 6px;
}


.VwcCoDMU0ROCpRAJ_cXTx ._2C3-Rj_GA3KP7GklMymoPM .DialogToggle_Description{
    color: var(--OffWhite);
}

.VwcCoDMU0ROCpRAJ_cXTx ._2C3-Rj_GA3KP7GklMymoPM ._3XBggeqHxK4fIrbu_ULi1y{
    margin: 0 0 0 6px;
    background-color: transparent !important;
}

.VwcCoDMU0ROCpRAJ_cXTx ._2C3-Rj_GA3KP7GklMymoPM ._3XBggeqHxK4fIrbu_ULi1y line{
    stroke: var(--OffWhite);
}

.VwcCoDMU0ROCpRAJ_cXTx ._2C3-Rj_GA3KP7GklMymoPM ._3XBggeqHxK4fIrbu_ULi1y:hover line{
    stroke: var(--Maize);
}

._1n-sV5GdQis4Wh9XN3GJ7L ._DialogInputContainer{
    border-top: none;
    border-radius: 0%;
}

._1n-sV5GdQis4Wh9XN3GJ7L .DialogToggleField{
    background: var(--DarkGreenBG);
    border: var(--Inset);
    border-bottom: none;
    border-radius: 0%;
    margin-bottom: 0;
}

._3jXWQl2Xun5nCqu_XZuWlx > div{
    box-shadow: none !important;
    transition: none !important;
}

._3jXWQl2Xun5nCqu_XZuWlx .GKYwHIpJCXaWh3_8eEfAc{
    border-radius: 0%;    
    height: 16px;
    top: 0;
    left: 0;
    border: var(--Inset);
    background: var(--DarkGreenBG)
}

._3jXWQl2Xun5nCqu_XZuWlx .GKYwHIpJCXaWh3_8eEfAc.On{
    background: var(--MaizeBG)
}

._3jXWQl2Xun5nCqu_XZuWlx ._2mW8B6npDIK23Ft0oWU46I.Off{
    border-radius: 0%;
    transition: none;
    border: var(--Outset);
    background: var(--GreenBG);
}

._3jXWQl2Xun5nCqu_XZuWlx ._2mW8B6npDIK23Ft0oWU46I.On{
    border-radius: 0%;
    transition: none;
    border: var(--Outset);
    background: var(--Maize);
    transform: translateX(20px);
}

/* Shelves =====================================================================*/

._3Sb2o_mQ30IDRh0C72QUUu{
    background: var(--DarkGreenBG);
    text-transform: none;
    box-shadow: none;
}

.Draggable.HoversEnabled:not(.cooZdx-qHovBnYBsOuBdr):hover ._2jj5TjFhHD1lvxMlpJYek6{
    transform: translateZ(0);
}

._23SnllqT_AqZ1C_QHcNQ4Z .XTpoZLWc4Qj5P6VF4s1_X{
    transition: none;
    background-color: var(--GreenBG);
}

._23SnllqT_AqZ1C_QHcNQ4Z:hover .XTpoZLWc4Qj5P6VF4s1_X{
    border: var(--Outset);
}

._23SnllqT_AqZ1C_QHcNQ4Z .SVGIcon_ReadyToPlay circle{
    stroke: var(--Maize);
}

._23SnllqT_AqZ1C_QHcNQ4Z .SVGIcon_ReadyToPlay path{
    fill: var(--Maize);
}

._1ZtpSq62fy_8W-_0pMn5cu ._1ljKTq3H58WbDZGNPfM0TY{
    text-transform: none;
    color: var(--Label)
}

.DialogDropDown_CurrentDisplay{
    color: var(--OffWhite);
}

._2Sj4-UDM-dHSxtxwQ_Pwwz ._DialogInputContainer{
    border: none !important;
}

._1tBzypb5E2AwNuBuVns9Hl .DialogDropDown{
    border: var(--Outset) !important;
    border-radius: 0;
    background: var(--GreenBG) !important;
}

._1tBzypb5E2AwNuBuVns9Hl .DialogDropDown > div{
    border-radius: none;
    background: var(--GreenBG) !important;
}

.DesktopUI ._1ZpBQtDqcKBbfIIv01Vs1R > div, .DesktopUI ._2Sj4-UDM-dHSxtxwQ_Pwwz.DialogMenuPosition ._1tiuYeMmTc9DMG4mhgaQ5w._DialogInputContainer{
    background: var(--GreenBG) !important;
    border: var(--Outset) !important;
    box-shadow: none !important;
}

.DesktopUI ._1ZpBQtDqcKBbfIIv01Vs1R > div > div{
    background: transparent !important;
}

.DesktopUI ._1ZpBQtDqcKBbfIIv01Vs1R > div > div:hover, .DesktopUI ._2Sj4-UDM-dHSxtxwQ_Pwwz.DialogMenuPosition > div > div:hover{
    color: var(--Maize) !important;
    background: transparent !important;
}

._23SnllqT_AqZ1C_QHcNQ4Z._32LI4zWUnYi5k50-LHnhdN{
    background: var(--GreenBG);
    border: var(--Outset);
}

._32LI4zWUnYi5k50-LHnhdN ._1ZtpSq62fy_8W-_0pMn5cu ._DialogInputContainer .DialogDropDown_CurrentDisplay{
    border-radius: 0;
    background: var(--GreenBG) !important;
    color: var(--OffWhite);
}

._176H2JawcvTj3qzNqyhSGl ._23SnllqT_AqZ1C_QHcNQ4Z{
    box-shadow: none;
}

button.DialogButton.MXh6nju1KU9_oaQCaR06e::before{
    box-shadow: none;
}

/* Game Cards =====================================================================*/
.MyNb5dG3FsBnKdp8j_ntk{
    box-shadow: none;
}

._54PuCatl_tYG836TOs4Mv .WYgDg9NyCcMIVuMyZ_NBC.Portrait{
    border: var(--Inset);
    box-shadow: none;
}

._54PuCatl_tYG836TOs4Mv .WYgDg9NyCcMIVuMyZ_NBC.Landscape{
    box-shadow: none;
}

._2IYf7aM4eYQ2Oh-ntmzHbm .Landscape{
    border: var(--Inset);
    border-bottom: none;
}

.RhmvOTLHkomDhCTDX9hLA{
    background: var(--GreenBG);
    border: var(--Outset);
    filter: blur(0);
}

.RhmvOTLHkomDhCTDX9hLA > img{
    display: none;
}

._2d1hSvdpY5L2-GN1EnUb9Z > ._3bkuozxKIatrWG3aeisthc > div{
    color: var(--OffWhite);
}

._2ADpTpv53dcY1uFpMWO1KT{
    text-transform: none;
}

._54PuCatl_tYG836TOs4Mv ._1LJqx_qFOC8199RBQO5kU8{
    border: var(--Outset);
    border-radius: 0%;
    background-color: var(--GreenBG);
    transition: none;
    transform: translateY(-3px);
    box-shadow: none;
}

._3AjoLnMNKxYmNTGTJCLfgs.PlayMusic:not(.Disabled), ._3AjoLnMNKxYmNTGTJCLfgs.DownloadArrow:not(.Disabled){
    background: var(--LightGreenBG);
    box-shadow: none;
    border-radius: 0%;
    border: var(--Outset);
}

._54PuCatl_tYG836TOs4Mv ._3AjoLnMNKxYmNTGTJCLfgs.PlayMusic:not(.Disabled):hover, ._54PuCatl_tYG836TOs4Mv ._3AjoLnMNKxYmNTGTJCLfgs.DownloadArrow:not(.Disabled):not(.PlayMusic):hover{
    background: var(--LightGreenBG);
}

._3AjoLnMNKxYmNTGTJCLfgs.PlayMusic:not(.Disabled) svg, ._3AjoLnMNKxYmNTGTJCLfgs.DownloadArrow:not(.Disabled) svg{
    fill: var(--OffWhite);
    transition: none;
}

._54PuCatl_tYG836TOs4Mv ._3AjoLnMNKxYmNTGTJCLfgs.PlayMusic:not(.Disabled):hover svg{
    fill: var(--Maize);
    transform: scale(1);
}

._54PuCatl_tYG836TOs4Mv ._3AjoLnMNKxYmNTGTJCLfgs.DownloadArrow:not(.Disabled):not(.PlayMusic):hover svg{
    color: var(--Maize);
    transform: scale(0.9);
}

/* Card Hover Popout =====================================================================*/
._2sGn0cBsD44TjnUIh-lx9d{
    background-color: var(--GreenBG);
    box-shadow: none;
    border: var(--Outset);
}
.AcLtE9axR9tWhAVfDP9lv{
    opacity: 1;
    filter: blur(0);
}

.AcLtE9axR9tWhAVfDP9lv img{
    opacity: 0 !important;
}

._2X1QC1U5u__OlHPUFDQnu_, ._2R6-lF5h4f0SPrOL9B9IAw {
    -webkit-mask-image: none;
    mask-image: none;
    background-color: transparent !important;
    margin: 0 6px;
}

._1VGPO4xU5sgRK6DFt4t74O .MIHa_O-B1JXrzkoGc255n{
    text-transform: none;
}

._1Kdi2PBxcdQwDpa-48hrf2{
    text-shadow: none;
}

.MIHa_O-B1JXrzkoGc255n{
    padding-top: 15px;
}

._1VGPO4xU5sgRK6DFt4t74O > div{
    color: var(--Label);
}

.My_SveQxVY_oRxfkK5mqN{
    display: inline;
    bottom: 69px;
    position: absolute;
    width: max-content;
    height: auto;
    background-color: var(--LightGreenBG);
    border: var(--Outset);
}

._3_0Qbu8IAsqsv_6W5AxRhe{
    background: transparent;
}

._3_0Qbu8IAsqsv_6W5AxRhe .dfy8sRBn82Ozvw4RiqewN ._1dJq5WU2D3uW42_ty9aPwP, ._3dncOt2dhpnFYQn-WYQ3Mb ._2SZ70N1VfFNqP4yDeNTajH{
    background: var(--Maize);
    box-shadow: none;
}

._3_0Qbu8IAsqsv_6W5AxRhe .dfy8sRBn82Ozvw4RiqewN ._1hOV3SIw5_c3VcGS_sZ_yU{
    color: var(--Maize);
}

/* Game Dragging */
._1HgDLE-DG3HVYV4bVvKdAJ .V7RuDNUxhxoBRaiGWbk3B{
    outline: 3px solid var(--Maize);
    outline-offset: -5px;
    border: 2px solid transparent;
    border-radius: 0%;
}

._3oXyqYCk5syor0ZiuqyboQ .V7RuDNUxhxoBRaiGWbk3B{
    background: none;
    outline: 5px solid var(--Maize);
    outline-offset: -7px;
    border: 2px solid transparent;
}

.LuubbPZklmPSVpKm5fk33 .qDwqSH0fCOLM4QlMqiNv ._2BNMbDXj10Qpld04R9-xJX{
    box-shadow: none;
}