
/* Draggable divider ===================================================================== */
[class^="_276E6ijBpjMA2_iTxNhhjc"]{
    width: 8px;
    min-width: 8px;
    background-color: transparent !important;
}

[class^="_276E6ijBpjMA2_iTxNhhjc"]:hover{
    background-color: transparent !important;
}

/* General Background and stuff ===================================================================== */
._27RcNu8aXKBpYkHcNNrt-X{
    background-color: var(--DarkGreenBG);
}

[class^="_3BFcmjAaMyP6GTPwc0VyWi"]{
    border: var(--Inset) !important;
}

[class^="qX4kNo6O0M-mYntdErKSJ"]{
    color: var(--Maize) !important;
}

._2l416KfEtI4CL0mCUEmOBw, ._2Dd4T78PcCTUVgOtDGFY5j, ._2gSXCB6PbOlMxslr8hm6dm{
    background: var(--DarkGreenBG) !important;
    background-image: none !important;
}

._1Qa-Aq8WFiF9584yU_1xuC{
    display: none !important;
}

._1bCHNUX_0WHTI1fch_8K5R{
    display: none;
}

.online [class^="r62qzcdJQ0qezZglOtiUX"]{
    color: var(--OffWhite);
}

.ingame [class^="r62qzcdJQ0qezZglOtiUX"]{
    color: var(--Maize);
}

._1k82NiWym4STegDGxRBHz2{
    color: var(--DimListText) !important;
}

._3EzTyjJx_tZUEIHygPwAeC.Dim.online ._1DArl3Gs9lXPcZdmCIlDJa, ._3EzTyjJx_tZUEIHygPwAeC.online ._1DArl3Gs9lXPcZdmCIlDJa{
    color: var(--OffWhite);
    text-shadow: none;
}

._3EzTyjJx_tZUEIHygPwAeC.Dim.in-game ._1DArl3Gs9lXPcZdmCIlDJa, ._3EzTyjJx_tZUEIHygPwAeC.in-game ._1DArl3Gs9lXPcZdmCIlDJa{
    color: var(--Maize);
    text-shadow: none;
}

._1YsWjZbxFewllb2PX6ZhNm.online .SVGIcon_MobilePhone path{
    fill: var(--OffWhite);
}

._1GCZAht_W2I3Elndk5cU0-:hover{
    background-color: transparent;
}

._1GCZAht_W2I3Elndk5cU0- ._1xGH4bGLz6sI7erzB8VWff{
    color: var(--Label) !important;
}

.offline .r62qzcdJQ0qezZglOtiUX, ._1GCZAht_W2I3Elndk5cU0- .offline ._1xGH4bGLz6sI7erzB8VWff{
    color: var(--DisabledText1) !important;
}

._3STfNQAZpe1U2ToD52S4dU{
    box-shadow: none;
    border-radius: 0%;
    border: var(--Outset);
}

.lKkF8MY2dBQlRkaHwjbqW{
    border-radius: 0%;
    background-color: var(--Maize);
}

._1t7927CfvHZSxoXBLDiDaR{
    box-shadow: none;
    border-radius: 0%;
    background: var(--GreenBG);
    opacity: 1;
    text-shadow: none;
}


/* Mcdonalds Play Place & Info =====================================================================*/
._1FnJ6dPuknQFQ2RTpKTI16 ._3ydigb6zZAjJ0JCDgHwSYA, ._1FnJ6dPuknQFQ2RTpKTI16 ._3ydigb6zZAjJ0JCDgHwSYA:hover{
    transition: none;
    background: var(--DarkGreenBG);
    border: var(--Inset);
    border-radius: 0%;
}

._3cI5TXsFX3bvpR-7EBOtxq ._3ydigb6zZAjJ0JCDgHwSYA, ._3cI5TXsFX3bvpR-7EBOtxq ._3ydigb6zZAjJ0JCDgHwSYA:hover{
    background: var(--LightGreenBG) !important;
    border: var(--Outset);
}

._3Y87YQY56ZCOqhgcZFaDc5{
    padding: 10px 20px;
}

._33cnXIqTRgRr49_FNXIHj6{
    text-transform: none !important;
    font-weight: 700 !important;
}

._34lrt5-Fc3usZU6trA1P0-{
    text-transform: none;
}

._3cI5TXsFX3bvpR-7EBOtxq ._33cnXIqTRgRr49_FNXIHj6{
    color: var(--OffWhite);
}

._1FnJ6dPuknQFQ2RTpKTI16 ._3ydigb6zZAjJ0JCDgHwSYA svg path{
    fill: var(--OffWhite);
}

._1FnJ6dPuknQFQ2RTpKTI16 ._3ydigb6zZAjJ0JCDgHwSYA:hover svg path, ._1FnJ6dPuknQFQ2RTpKTI16 ._3ydigb6zZAjJ0JCDgHwSYA:hover svg line{
    fill: var(--Maize);
    stroke: var(--Maize);
}

._1FnJ6dPuknQFQ2RTpKTI16 ._3ydigb6zZAjJ0JCDgHwSYA:hover ._33cnXIqTRgRr49_FNXIHj6{
    color: var(--Maize);
}

._2AzIX5kl9k6JnxLfR5H4kX._2q-gZ3XJzlvSGHSF-GvSmi, ._3cI5TXsFX3bvpR-7EBOtxq > ._2AzIX5kl9k6JnxLfR5H4kX._2q-gZ3XJzlvSGHSF-GvSmi, ._2AzIX5kl9k6JnxLfR5H4kX._2q-gZ3XJzlvSGHSF-GvSmi:hover, ._3cI5TXsFX3bvpR-7EBOtxq > ._2AzIX5kl9k6JnxLfR5H4kX._2q-gZ3XJzlvSGHSF-GvSmi:hover{
    background: var(--LightGreenBG);
    border: var(--Outset);
    border-radius: 0%;
}

[class^="_3fLo166MlaNqP8r8tTyRz"]{
    background: var(--DarkGreenBG) !important;
}

._39RheXihcN6H2k2muQTjkI > ._3fLo166MlaNqP8r8tTyRz, [class^="_2SAb6geDpe6toA1GaP0GjH"]{
    background: var(--GreenBG) !important;
}

._2_86QNCjVvJTL3Qe6Xztx_.Visible{
    background: transparent;
    border-top: var(--Inset);
}

._3JzkHhrsBKThuVrwsu3Q7T{
    box-shadow: none !important;
}

.IIJeieZ-ZPRfIULY7uSDG{
    background-color: transparent;
    color: var(--OffWhite);
}

._2jPMy2QZr8bWi6yrk5ZzHA ._1uS70KI6ZbUE94jUB27ioB ._3GkV1NVDKuXYTLyRt2Uirz, ._2ZcNQxY8YknnhNa4ZvIoU4 ._1vYL2q-91QLy-FBzntE7E5{
    color: var(--OffWhite);
}

.IIJeieZ-ZPRfIULY7uSDG ._3sfpA6uM8IJuAnrtDiJLZI{
    background: var(--GreenBG);
    border: var(--Outset);
    border-radius: 0%;
    color: var(--OffWhite);
}

.IIJeieZ-ZPRfIULY7uSDG ._3sfpA6uM8IJuAnrtDiJLZI:hover{
    color: var(--Maize);
}

.IIJeieZ-ZPRfIULY7uSDG ._3sfpA6uM8IJuAnrtDiJLZI:active{
    background: var(--DarkGreenBG);
    border: var(--Inset);
}

.DeckVerifiedModalDialogClient .DialogContent{
    background: var(--GreenBG) !important;
    border: var(--Outset);
}

._1GQvTe7N-bhSS62k81jYE1{
    background: var(--OffWhite);
}

._3qDWQGB0rtwM3qpXTb11Q-, ._2jPMy2QZr8bWi6yrk5ZzHA{
    background-color: var(--GreenBG);
    border: var(--Outset);
    border-radius: 0%;
    color: var(--OffWhite);
}

._3qDWQGB0rtwM3qpXTb11Q-:hover{
    background-color: var(--GreenBG);
    color: var(--Maize);
    transition: none;
}

._3qDWQGB0rtwM3qpXTb11Q- svg, ._3qDWQGB0rtwM3qpXTb11Q- .SVGIcon_Button path, ._3qDWQGB0rtwM3qpXTb11Q- .zvLq1GUCH3yLuqv_TXBJ1{
    fill: currentColor !important;
    color: inherit !important;
    transition: none;
}

._3qDWQGB0rtwM3qpXTb11Q- svg polyline, ._3qDWQGB0rtwM3qpXTb11Q- svg circle{
    stroke: currentColor !important;
}

._3qDWQGB0rtwM3qpXTb11Q-:hover .I{
    fill: currentColor !important;
}

.fyJia4DC2A-H5pIR9DD87{
    background-color: var(--DarkGreenBG) !important;
    border: var(--Inset);
    color: var(--Maize);
}

._3qDWQGB0rtwM3qpXTb11Q-.Favorited path{
    stroke: var(--Maize) !important;
    fill: var(--Maize) !important;
}

._2r4TK4BAuU-J4FuF_O7v_5 ._31ptFGGMZrSQc5BCX1e5lm{
    background: var(--GreenBG) !important;
    border: var(--Outset) !important;
    padding: 5px;
}

._25oBZpa3dUcMw8QAsa2u67, ._2jPMy2QZr8bWi6yrk5ZzHA{
    transition: none !important;
}

._7k4qmaN8SUMvv6u-L81uk, ._1b6LYWVijW-9E4YV0keDWZ{
    padding: 0 !important;
    margin: 0;
}

._7k4qmaN8SUMvv6u-L81uk{
    margin-right: 10px;
}

._2sNDjgK9EWiPLdNGkjun-w, ._1EC1xjjUGqI7fqX6PVzJA3{
    background: var(--GreenBG) !important;
    border: var(--Outset) !important;
    color: var(--OffWhite) !important;
    padding: 3px 6px;
}

._2sNDjgK9EWiPLdNGkjun-w:active{
    background: var(--DarkGreenBG) !important;
    border: var(--Inset) !important;
}

._7k4qmaN8SUMvv6u-L81uk:hover ._2sNDjgK9EWiPLdNGkjun-w{
    color: var(--Maize) !important;
}

.zjtAIAWI6HE0oCtJzw6Qt ._3rpUkswF6xc_ste4Ros_xM{
    color: var(--OffWhite);
}

/* You've played X hours, review popup ===================================================================== */
[class^="_3LE-6w1ItIAB4CKJFCa3Od"], [class^="_3LE-6w1ItIAB4CKJFCa3Od"] button{
    background: var(--GreenBG) !important;
    border: var(--Outset) !important;
    border-radius: 0%;
    color: var(--Maize);
}

[class^="_3LE-6w1ItIAB4CKJFCa3Od"] svg{
    fill: var(--Maize);
}
/* Available Content Ad ===================================================================== */
._2UySYiE8fUGGugkHVm1Qb ._2kqz-bSlDu-I49_cV_wicB {
    background: var(--GreenBG);
    border: var(--Outset);
    box-shadow: none;
}

._2UySYiE8fUGGugkHVm1Qb ._2kqz-bSlDu-I49_cV_wicB ._2pAbUZVnG9Q1TYOfdvFmtX > div{
    border: none;
    background: transparent;
    text-transform: none;
    color: var(--OffWhite);
}

._2bF7XkQZA1M7jTj6txLFp- ._3SQn1_upOaYSAJAn2N4YKY, ._78Pwybe-fHVYEkQFFlpA5 > ._1V-tjeQQqrwAF4ufgABl_3{
    box-shadow: none;
}

._2bF7XkQZA1M7jTj6txLFp- .HAvWsE0-ycDj77SdyLXE-{
    display: none;
}

._1yEoLSbdr6RwEzqpyKLR4m ._3m6qdpFN3Mop0iw9ZE3RRa{
    background-color: var(--GreenBG);
    color: var(--OffWhite);
    border: var(--Outset);
    transition: none;
}

._1yEoLSbdr6RwEzqpyKLR4m ._3m6qdpFN3Mop0iw9ZE3RRa:hover{
    color: var(--Maize);
    background-color: var(--GreenBG);
}

._1yEoLSbdr6RwEzqpyKLR4m ._3m6qdpFN3Mop0iw9ZE3RRa:active{
    background-color: var(--DarkGreenBG);
    border: var(--Inset);
}


/* Post Game Summary ===================================================================== */


.tECphKl9rZXG_KesmwW5r ._2pAbUZVnG9Q1TYOfdvFmtX > div._2_sR8WGLby5dt8XUSln6R7{
    border: none;
    background: transparent;
    text-transform: none;
    color: var(--OffWhite);
}

._2K2No5eH-XS6QwrXUtzo2x{
    background-color: var(--GreenBG);
    border: var(--Outset);
}

.wgbDI6To-SKawn9wQwVaw{
    background: var(--DarkGreenBG);
    border: var(--Inset);
    border-radius: 0%;
}

._3pCMW4ZhvY3oNDM--v63wE{
    background: var(--GreenBG);
    border: var(--Outset);
    padding: 0 5px;
}

.wgbDI6To-SKawn9wQwVaw::after{
    display: none;
}

._2gFx1aSIrFS92Uxol8yc73{
    box-shadow: none;
}

._1j_gja8bHXjiS-BeSQk8hb ._1s_9cSxUjb4609MSH0EjWH ._39Y01uSRcLiDg5DneTTR0m, ._1j_gja8bHXjiS-BeSQk8hb ._1s_9cSxUjb4609MSH0EjWH ._2gLHbXukQBdrIKhqEYVvOe{
    color: var(--OffWhite);
}

._1j_gja8bHXjiS-BeSQk8hb ._1s_9cSxUjb4609MSH0EjWH .VKo9pLPbwpF3xIzL8Wnou{
    color: var(--Label);
}

._1AIgWpLviF3aBSaRbYIwWM{
    background-color: var(--Label);
}

/* Activity =====================================================================*/

._3i0kopAostOz2IDi9HqmeN{
    color: var(--OffWhite);
    text-transform: none;
}

._29bW1yCn25VTm4bFameBaV, ._29bW1yCn25VTm4bFameBaV > div{
    text-transform: none;
}

._3yTl3RiWfo-Itg-xp967wP ._31ptFGGMZrSQc5BCX1e5lm{
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
}

._3yTl3RiWfo-Itg-xp967wP ._39ZurKJQex6v69aXzvc_nj, .UVeN0kaD3zv1feMj_mMw5 .QCKBqF2k_sRLcXJ5qQIEl ._3Nxqyyt2ilotu5ci553y82{
    color: var(--OffWhite);
}

._3yTl3RiWfo-Itg-xp967wP ._39ZurKJQex6v69aXzvc_nj::before{
    box-shadow: none !important;
}

._3x31AgESSlUqX3D4MTHv2m ._1JlC29Ic6L-QvL-39X_d-X{
    background: var(--DarkGreenBG);
    border: 1px solid var(--GreenBG);
    border-radius: 0%;
    color: var(--OffWhite);
}

._3x31AgESSlUqX3D4MTHv2m ._1JlC29Ic6L-QvL-39X_d-X:focus{
    background: var(--DarkGreenBG);
    border: 1px solid var(--GreenBG);
    border-radius: 0%;
    color: var(--OffWhite);
    box-shadow: none;
}

.S2Fu9HxHCA5MaCLGrN2ib{
    background-color: var(--GreenBG);
    border: var(--Outset);
    padding: 10px;
}

.S2Fu9HxHCA5MaCLGrN2ib ._19LfMT7PFWg2xHOqNjR99q{ 
    color: var(--OffWhite);
    text-transform: none;
}

._3oMUSjOFNB0E9LWcL2sE7{
    display: none;
}

._3QRf-tp5VddAF00vWY5Gn8, ._3QRf-tp5VddAF00vWY5Gn8:hover, ._1AYE16384J_ecLpN0sEYc5, ._1AYE16384J_ecLpN0sEYc5:hover, ._39Zk32AvV5cr6g-83IVRVS{
    border: none;
    box-shadow: none;
    background: transparent;
}

._1ujzuoxGhLunHZQqHAqRgg{
    color: var(--Label);
    text-transform: none;
}

._3QRf-tp5VddAF00vWY5Gn8:hover ._1Cva_kor3lWBIoeu9cQxJq{
    color: var(--OffWhite);
}

._3QRf-tp5VddAF00vWY5Gn8:hover ._1ujzuoxGhLunHZQqHAqRgg, ._3QRf-tp5VddAF00vWY5Gn8:hover ._1Cva_kor3lWBIoeu9cQxJq, ._1HZy7BvOZuPT8feUwadL4W:hover ._1gljEIuhbsQpFCWuVhdKTJ, ._1HZy7BvOZuPT8feUwadL4W:hover .Ru7OBQzSxqIo3jIsbtV9g, ._1HZy7BvOZuPT8feUwadL4W:hover ._3zwBRDW1egliiT4pKYIXap, ._39Zk32AvV5cr6g-83IVRVS:hover ._3fsjzvni7TQ1NphLHM_5r3, ._39Zk32AvV5cr6g-83IVRVS:hover .Ru7OBQzSxqIo3jIsbtV9g, ._39Zk32AvV5cr6g-83IVRVS:hover ._3zwBRDW1egliiT4pKYIXap{
    color: var(--Maize);
    text-transform: none;
}

.VytJzt3Z_t6332-n24Yrc._3cX_vEKsN9S9EmR0O5w1Ol, .fGDsmh9vz8h0RMEoRoAvF._3cX_vEKsN9S9EmR0O5w1Ol{
    display: none !important;
}

._1HZy7BvOZuPT8feUwadL4W, .LibriMVXcLl1HB60ZUp78{
    background: transparent;
    transition: none;
}

._1HZy7BvOZuPT8feUwadL4W:hover, .LibriMVXcLl1HB60ZUp78:hover{
    background: transparent;
}

._29bW1yCn25VTm4bFameBaV{
    color: var(--Maize);
    text-shadow: none;
}

._3dJ4Bq6Msivz5-UIHzSEQu, ._2HzKE96Sc4z6KHN68gr4DS{
    margin: 0;
    padding: 0;
}

._1gljEIuhbsQpFCWuVhdKTJ, ._3fsjzvni7TQ1NphLHM_5r3{
    color: var(--OffWhite);
    text-shadow: none;
}

.Ru7OBQzSxqIo3jIsbtV9g, ._3zwBRDW1egliiT4pKYIXap{
    color: var(--OffWhite);
    text-shadow: none;
}

._1p_QrI3ixF-RAwnxad9pEm{
    background: transparent;
    box-shadow: none;
}

.UVeN0kaD3zv1feMj_mMw5 .NEMXhMlqXOCJwfgWlHXhT{
    background: transparent;
    box-shadow: none;
    text-transform: none;
}

._1yWgPveQ73QeYCdLcs6oFQ, .EhWKRN0QCGwfB7zcx7DwQ{
    opacity: 1;
}

._1yWgPveQ73QeYCdLcs6oFQ .Button_, ._1yWgPveQ73QeYCdLcs6oFQ .Reactions{
    background-color: var(--GreenBG) !important;
    border: var(--Outset);
}

._1yWgPveQ73QeYCdLcs6oFQ .LikeButton:not(.CanClick), ._1yWgPveQ73QeYCdLcs6oFQ .LikeButton:active {
    border: var(--Inset);
    background-color: var(--DarkGreenBG) !important;
}

._1yWgPveQ73QeYCdLcs6oFQ .LikeButton.CanClick .Count, ._1yWgPveQ73QeYCdLcs6oFQ .LikeButton.CanClick path{
    color: var(--DimListText);
}

._1yWgPveQ73QeYCdLcs6oFQ .LikeButton .Count, ._1yWgPveQ73QeYCdLcs6oFQ .LikeIcon path{
    color: var(--Maize);
}

._1yWgPveQ73QeYCdLcs6oFQ .CommentCount, ._1yWgPveQ73QeYCdLcs6oFQ .ReactionCount, ._1yWgPveQ73QeYCdLcs6oFQ .CommentIcon path, ._1yWgPveQ73QeYCdLcs6oFQ .ReactionIcon path{
    color: var(--DimListText);
}

._1yWgPveQ73QeYCdLcs6oFQ path{
    fill: currentColor !important;
}

._2lVtDi3eSjGcLfXVsRgoUy{
    background-image: radial-gradient(circle, var(--Maize) 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, var(--Maize) 20%, transparent 30%),
    radial-gradient(circle, var(--Maize) 20%, transparent 20%),
    radial-gradient(circle, var(--Maize) 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, var(--Maize) 15%, transparent 20%),
    radial-gradient(circle, var(--Maize) 20%, transparent 20%),
    radial-gradient(circle, var(--Maize) 20%, transparent 20%),
    radial-gradient(circle, var(--Maize) 20%, transparent 20%),
    radial-gradient(circle, var(--Maize) 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, var(--Maize) 20%, transparent 30%);
}


._5uvIN6jXDXzzck59F-nhv button._3Cdin80d-hVsakHUZboheb:active{
    background-color: var(--DarkGreenBG);
    border: var(--Inset);
}

/* Achievements =====================================================================*/
._3ns9185LizH61StaAXuAp6, ._25YVDTaClw6Y2COPsU0UaV, ._1FnTqlsi2_-TJf1d5apoS6{
    border-radius: 0% !important;
}

._3ns9185LizH61StaAXuAp6, ._25YVDTaClw6Y2COPsU0UaV{
    border: var(--Inset);
}
._1-H7tKj_QcGHLUbx5wVsGg{
    text-shadow: none;
}

._3Rm36_oeAhvIg6ZYP9l1Jj, ._25YVDTaClw6Y2COPsU0UaV ._1FnTqlsi2_-TJf1d5apoS6{
    background-color: var(--Maize) !important;
}

._2xTb6N-jUUQ-mIkMB6OVMm{
    background: transparent;
    box-shadow: none;
}
._2YS0EBJmY2Rvs07zZ90UIJ svg path, .k-QNT9kzOEOvG0U_kGmwr svg path:first-of-type:not([fill-rule="evenodd"]){
    stroke: var(--Maize);
    fill: var(--Maize);
}
._2YS0EBJmY2Rvs07zZ90UIJ svg circle, .k-QNT9kzOEOvG0U_kGmwr svg circle{
    stroke: var(--MaizeBG);
    fill: var(--MaizeBG);
}

.tH67cztsTrD9IF2zpG8ep, .lZ2c49vTWJ60klQOY9l2K, ._5uvIN6jXDXzzck59F-nhv button._3Cdin80d-hVsakHUZboheb{
    background-color: var(--GreenBG) !important;
    border: var(--Outset) !important;
    border-radius: 0% !important;
    box-shadow: none;
    color: var(--OffWhite);
    transition: none;
}

/* Your Review =====================================================================*/

._3AXaY4djCODzJ6On5MRKno, ._3QZfwcmLlT0T6WNXW7vqx1, ._1vUp7sGvRrUPsckOw9xPOT, .GUO5K0ftV5i7CbuQe3rV5{
    fill: var(--Maize);
}

._3AXaY4djCODzJ6On5MRKno, ._3QZfwcmLlT0T6WNXW7vqx1, ._1vUp7sGvRrUPsckOw9xPOT, .GUO5K0ftV5i7CbuQe3rV5{
    background: var(--LightGreenBG);
    border: var(--Outset);
    border-radius: 0%;
}

._2r4TK4BAuU-J4FuF_O7v_5 ._31ptFGGMZrSQc5BCX1e5lm ._1NEGw6cerEqhcblDvEalvd{
    flex-wrap: wrap;
}

._2r4TK4BAuU-J4FuF_O7v_5 ._31ptFGGMZrSQc5BCX1e5lm ._6TbQgZuwNMr5374_y7IIT, ._2r4TK4BAuU-J4FuF_O7v_5 ._31ptFGGMZrSQc5BCX1e5lm ._6TbQgZuwNMr5374_y7IIT:hover{
    border-radius: 0%;
    border: var(--Outset);
    background: var(--GreenBG);
    margin: 0 2px 4px;
}

._2r4TK4BAuU-J4FuF_O7v_5 ._31ptFGGMZrSQc5BCX1e5lm ._22PNg3cCBQ6SytI8Vz6pyT{
    color: var(--OffWhite);
}

/* Workshop =====================================================================*/
._176QJCynkEUSdR_-9btdAW{
    /* background: repeating-linear-gradient(
        to right, 
        transparent, 
        transparent 10px, 
        var(--LightGreenBG) 10px, 
        var(--LightGreenBG) 11px
    ), repeating-linear-gradient(
        to bottom, 
        transparent, 
        transparent 10px, 
        var(--LightGreenBG) 10px, 
        var(--LightGreenBG) 11px
    ), transparent; */
    background: transparent;
}

._2EgMBzP-mPu3oXKgZHhTJd{
    color: var(--OffWhite);
}

._38t1mljBjmJfqjpVzMT1CG{
    background: transparent;
    box-shadow: none;
}

.YE_jJPwp0fBbRm1vQHIIq ._3DyemX0QGhW2mipZQwVfnS ._1jkfJdGTyndLlXdB9WkfL3{
    color: var(--Maize);
}

.YE_jJPwp0fBbRm1vQHIIq .aZc8RQUeHL3YNHxrG4pXN{
    background-color: var(--GreenBG);
    border: var(--Outset);
    border-radius: 0%;
}

.YE_jJPwp0fBbRm1vQHIIq .aZc8RQUeHL3YNHxrG4pXN .SVGIcon_Throbber line{
    stroke: var(--OffWhite);
}

/* Community Content =====================================================================*/
._2lNdDLgjQdeBXmMlPO8lvq{
    text-transform: none;
    background: transparent;
    color: var(--Maize);
}
._2lNdDLgjQdeBXmMlPO8lvq ._2890MptFADbe-IUQFQ8L1O{
    display: none;
}

._2r4TK4BAuU-J4FuF_O7v_5.A6G1leLXs7Vqw45hoXg-l ._31ptFGGMZrSQc5BCX1e5lm{
    background: transparent !important;
    border: none !important;
    margin: 0;
    padding: 0;
}

._2RSxEUPGL8Bj016q0Sp3Hx{
    margin: 0 0 0 20px;
    border: var(--Outset);
    background-color: var(--GreenBG);
    color: var(--OffWhite);
    border-radius: 0%;
    transition: none;
}

._2RSxEUPGL8Bj016q0Sp3Hx:hover{
    background-color: var(--GreenBG);
    color: var(--Maize);
}

._33Cd4gWWUSqwn-dCRv_9Ko{
    padding: 0 5px;
}

._3QS6OBHpvI5bXsSQA2zQuW{
    border-radius: 0%;
    background-color: var(--GreenBG);
    box-shadow: none;
    border: var(--Outset);
    transition: none;
}

._3QS6OBHpvI5bXsSQA2zQuW:hover {
    box-shadow: none;
}

._23Pup1qLf91kwjALd-jFGc ._23Pup1qLf91kwjALd-jFGc{
    color: var(--Maize);
    text-transform: none;
}

._23Pup1qLf91kwjALd-jFGc ._2xEgUh8bB82nVRtIzS6EHD{
    margin-top: 5px;
}

._23Pup1qLf91kwjALd-jFGc .xsBpzsjWWv0lqaQr0yzrG{
    color: var(--Label);
}

._1ul9ZRBfhF0vyj-hrit6nU, ._23Pup1qLf91kwjALd-jFGc ._1dJuvQ4rvlB0q8vmLJH3l2{
    background: transparent;
}

._1ul9ZRBfhF0vyj-hrit6nU .dKX6Y9sc3T0eOFFMsbxFO, ._1ul9ZRBfhF0vyj-hrit6nU .dKX6Y9sc3T0eOFFMsbxFO:hover{
    filter: brightness(1);
    transform: scale(1);
}

._1aP1bu_l_kDbKMN7XDNmzg ._3uabislt81gdMksbxzc-iN{
    border-radius: 0%;
    background: var(--GreenBG);
    border: var(--Outset);
    border-left: none;
    box-shadow: none;
}

._3QS6OBHpvI5bXsSQA2zQuW ._3XZzfVx8SPRZc4kLownPRd{
    border-radius: 0%;
    border: none;
    border-bottom: var(--Inset);
}

._3QS6OBHpvI5bXsSQA2zQuW ._3lh8aaHNMcFvupuNhQDfFt ._1GfHtX6GRZ_5BukahmkQp4 .NlL1tQGqhUyRhv6p9zwTZ{
    display: none;
}

._3QS6OBHpvI5bXsSQA2zQuW ._3lh8aaHNMcFvupuNhQDfFt ._1GfHtX6GRZ_5BukahmkQp4 svg path{
    fill: currentColor;
}

._3lh8aaHNMcFvupuNhQDfFt{
    right: 0;
    left: auto;
    transform: translate(0, 0);
    bottom: 10px;
}

._3QS6OBHpvI5bXsSQA2zQuW ._3lh8aaHNMcFvupuNhQDfFt ._1GfHtX6GRZ_5BukahmkQp4{
    opacity: 1;
    transform: scale(1);
    background-color: var(--GreenBG);
    color: var(--DimListText);
    border: var(--Outset);
    border-radius: 0%;
}

._3QS6OBHpvI5bXsSQA2zQuW ._3lh8aaHNMcFvupuNhQDfFt ._1GfHtX6GRZ_5BukahmkQp4:hover{
    color: var(--OffWhite);
}

._3lh8aaHNMcFvupuNhQDfFt ._3AoQ6Gu9jJ6BCK8TiMic30{
    filter: var(--DisabledText1Filter);
}

._3lh8aaHNMcFvupuNhQDfFt ._1GfHtX6GRZ_5BukahmkQp4:hover ._3AoQ6Gu9jJ6BCK8TiMic30{
    filter: var(--DisabledText1Filter);
}

._3lh8aaHNMcFvupuNhQDfFt ._1GfHtX6GRZ_5BukahmkQp4 ._3AoQ6Gu9jJ6BCK8TiMic30.Selected, ._3lh8aaHNMcFvupuNhQDfFt ._1GfHtX6GRZ_5BukahmkQp4 ._3AoQ6Gu9jJ6BCK8TiMic30:active{
    filter: var(--MaizeFilter);
}

._3lh8aaHNMcFvupuNhQDfFt ._1GfHtX6GRZ_5BukahmkQp4:has(.Selected), ._3lh8aaHNMcFvupuNhQDfFt ._1GfHtX6GRZ_5BukahmkQp4:active{
    border: var(--Inset);
    background-color: var(--DarkGreenBG);
}

.CwZqp0ZwInfY8H9jUO4Xy svg, .CwZqp0ZwInfY8H9jUO4Xy:hover svg{
    transition: none;
    fill: currentColor;
    color: inherit;
}

.CwZqp0ZwInfY8H9jUO4Xy{
    opacity: 1;
    transform: scale(1);
    background-color: var(--GreenBG);
    border-radius: 0%;
    border: var(--Outset);
    color: var(--DimListText);
    transition: none;
}

.CwZqp0ZwInfY8H9jUO4Xy:hover{
    background-color: var(--GreenBG);
    color: var(--OffWhite);
}

.CwZqp0ZwInfY8H9jUO4Xy:active{
    background-color: var(--DarkGreenBG);
    border: var(--Inset);
}

/* News Overlay =====================================================================*/
.lwprNSgEnKfVSHIzsgbFi{
    border: var(--Outset);
    border-radius: 0%;
    background: var(--GreenBG);
    box-shadow: none;
}

._3X6U9WGaylaJKy73ufW34F ._35gM9i287FT5Vx0nL7vX6o, ._2gdgUZH7TbyBxDYoDIUPVG{
    background: transparent;
    box-shadow: none;
}

._2ZgLvT82YJj60ipYm334jn{
    padding: 0 24px 24px;
}

.eti5Ei5_72tAUqiU4F4n0{
    display: none;
}


._11C0zBKHJu9JWcnIiVQrwJ .ElEkKasilNtwgzyu1rAWv ._30JUMWVZpKjo5yyNMLHj2N{
    color: var(--Maize);
    text-transform: none;
}

._11C0zBKHJu9JWcnIiVQrwJ .ElEkKasilNtwgzyu1rAWv ._3sPONDb9e2ctNJ23X97Rxx, ._11C0zBKHJu9JWcnIiVQrwJ .ElEkKasilNtwgzyu1rAWv ._4K3Bl-RZYjH0IHfPO10FC{
    color: var(--OffWhite);
    text-transform: none;
}

._y2DQDJ5toIRanQZFjDCx ._y2DQDJ5toIRanQZFjDCx{
    background-color: var(--Maize);
    color: black;
}

._3kQsDl2VqtKxYObNcKcTVz > div, .cLK_FdqhScxUTzHU6WVEN{
    padding: 0;
    background-color: transparent;
}

._2dVe4z8QrljeVvM0UzTTJ2, ._1GFRKatJ8pNhUDi-MwuD9D{
    color: var(--Maize);
}

._2dVe4z8QrljeVvM0UzTTJ2 svg, ._1GFRKatJ8pNhUDi-MwuD9D svg{
    fill: currentColor;
}

._3BVe_okecnI7b_bHj5SS42{
    background: var(--DarkGreenBG);
    border: var(--Inset);
    margin: 0 20px 20px;
    padding: 10px;
}

._3P0Tm2XKLVG_I9wjP3H-Zs._9JzcWM2TPeeznG62hmrtI{
    border: var(--Outset);
    background-color: var(--GreenBG);
    border-radius: 0%;
    box-shadow: none;
    transition: none;
}

._3P0Tm2XKLVG_I9wjP3H-Zs._9JzcWM2TPeeznG62hmrtI:hover{
    background-color: var(--GreenBG);
    color: var(--Maize);
    box-shadow: none;
}

._3P0Tm2XKLVG_I9wjP3H-Zs._9JzcWM2TPeeznG62hmrtI:active{
    background-color: var(--DarkGreenBG);
    border: var(--Inset);
    box-shadow: none;
}

._3P0Tm2XKLVG_I9wjP3H-Zs._9JzcWM2TPeeznG62hmrtI > svg{
    fill: currentColor;
}

.cLK_FdqhScxUTzHU6WVEN ._1qE1yee4Yy4oSuIuIsLKl{
    display: none;
}

.cLK_FdqhScxUTzHU6WVEN svg{
    margin: 0;
}

._1WrR81F7LFwVlIYbWPsVpv ._2jz0pSZrOgZbg4scAWxojd ._1WrR81F7LFwVlIYbWPsVpv > div{
    background: var(--LightGreenBG);
    border-radius: 0%;
    border: var(--Outset);
    box-shadow: none;
}

._1WrR81F7LFwVlIYbWPsVpv ._2jz0pSZrOgZbg4scAWxojd ._1WrR81F7LFwVlIYbWPsVpv > div:hover{
    background: var(--LightGreenBG);
    border: var(--Outset);
    color: var(--Maize);
}

._1WrR81F7LFwVlIYbWPsVpv ._2jz0pSZrOgZbg4scAWxojd ._1WrR81F7LFwVlIYbWPsVpv > div:active{
    background: var(--DarkGreenBG);
    border: var(--Inset);
}

._1WrR81F7LFwVlIYbWPsVpv .SVGIcon_Button line, ._1WrR81F7LFwVlIYbWPsVpv .SVGIcon_Button polygon{
    fill: currentColor !important;
    stroke: currentColor !important;
}

.bIoyqcxSbys_LNwXBL-qT{
    animation: none;
}
.bIoyqcxSbys_LNwXBL-qT:active svg{
    transform: scale(1);
}

._37MAYpIjl0IDA1xVhhsuX8 ._19eb8NMS53lqZR33su0kTr{
    backdrop-filter: blur(0px) brightness(0.35) saturate(0.75);
}

/* Achievement Overview Overlay =====================================================================*/
.HruWVPwIDh2FFOOH7OiSs .gioyPMOZttYFcnmgLnsWf ._5ZP0mr4KbDTOe7j-tDi8m._15Ymb1OOfFUP4fAvwoG7Mc{
    border: var(--Outset);
    border-radius: 0%;
    background: var(--GreenBG);
    box-shadow: none;
}

.ODpLjkbgMnhnQTcm8ZCMO .Blur{
    backdrop-filter: brightness(100%) blur(0);
    background: transparent;
}

._3FQHgRosfNJYE44Fsd_U6z, ._2Kmn7fJOkLT4KyWl467a9M{
    background: var(--GreenBG);
}

._gDkIgrqhJq-FtbuR9wJi{
    background: var(--GreenBG);
    border: var(--Outset);
    border-radius: 0%;
}

.p8Yjzm26BVbMEn7DyoeiQ ._27CS0ATE6JLFP5A2W9Bdj_ ._17zZlCuxyWWUil57ZLDOXp{
    text-transform: none;
    columns: var(--OffWhite);
    font-weight: 500;
}

.yZ55NhARZGx1Awk2qs8pS{
    background: var(--DarkGreenBG);
    border: var(--Inset);
    border-radius: 0%;
}

.yZ55NhARZGx1Awk2qs8pS ._2_0JonK7eKEvh8IoOvq0-B{
    transition: none !important;
    background: var(--Maize) !important;
    border-radius: 0%;
}

.p8Yjzm26BVbMEn7DyoeiQ svg path{
    stroke: var(--Maize);
    fill: var(--Maize);
}

.p8Yjzm26BVbMEn7DyoeiQ svg circle{
    stroke: var(--MaizeBG);
    fill: var(--MaizeBG);
}
._2JobstxtZVYF3078DblN2M._1jNhbFODJy7sNdcnEeZkz4::before{
    box-shadow: none;
    backdrop-filter: blur(0px);
    background: transparent;
}

._3eEbSktrstBdLk0dVpnKVI{
    background: var(--GreenBG);
    border: var(--Outset);
    border-radius: 0%;
    text-transform: none;
    font-weight: 500;
    transform: none;
}

._3eEbSktrstBdLk0dVpnKVI:hover{
    background: var(--GreenBG);
    color: var(--Maize);
    text-transform: none;
}

._3eEbSktrstBdLk0dVpnKVI.Selected, ._3Ebb3ha_Q86-lxguhjfyE1.Selected:hover{
    background: var(--DarkGreenBG);
    border: var(--Inset);
}

._316Uo4SBrQ_beBdSYn2HNO{
    border: var(--Inset);
    background: var(--DarkGreenBG) !important;
}

._316Uo4SBrQ_beBdSYn2HNO .UWkKthLfz_5MM3NdASE2W ._2lgHVJbZwxb10Md7bZ6USU{
    background: var(--MaizeBG)
}

._316Uo4SBrQ_beBdSYn2HNO ._1vd1pZ7fwu6SLn898cXkOs{
    color: var(--Maize);
}

._17dhGq-FsL8xZBes7dOOlN, ._1WP2YDDWrL5LPHoS04AKx8, .OAV6QqJuXaBPRBW9RaPA6, ._316Uo4SBrQ_beBdSYn2HNO .UWkKthLfz_5MM3NdASE2W .Zoy4Cl4jObtENnsc8sYfx ._3LS_NZyqY77COuRN-Z3TVB, ._316Uo4SBrQ_beBdSYn2HNO .UWkKthLfz_5MM3NdASE2W .Zoy4Cl4jObtENnsc8sYfx ._231lloeMz5EvNkHHGXN6RJ{
    color: var(--OffWhite);
    text-transform: none;
}

.VQbek1VTyOX04qHmTsssW, ._2fFW2raBfeDt3WOPB-aQAq, ._316Uo4SBrQ_beBdSYn2HNO .UWkKthLfz_5MM3NdASE2W ._17WmAft0lOwrau_jKP2_JW{
    color: var(--Label);
    text-transform: none;
}

.HruWVPwIDh2FFOOH7OiSs .gioyPMOZttYFcnmgLnsWf .iYW5hWQwg14WYT4PV3xe_{
    background: var(--LightGreenBG);
    border-radius: 0%;
    border: var(--Outset);
    box-shadow: none;
}

.HruWVPwIDh2FFOOH7OiSs .gioyPMOZttYFcnmgLnsWf .iYW5hWQwg14WYT4PV3xe_:hover{
    background: var(--LightGreenBG);
    border: var(--Outset);
    color: var(--Maize);
}

.HruWVPwIDh2FFOOH7OiSs .gioyPMOZttYFcnmgLnsWf .iYW5hWQwg14WYT4PV3xe_:active{
    background: var(--DarkGreenBG);
    border: var(--Inset);
}

.gioyPMOZttYFcnmgLnsWf .SVGIcon_Button line{
    fill: currentColor !important;
    stroke: currentColor !important;
}

[class*="achievementspage_AchievementTabs"] ._TabContentsScroll::-webkit-scrollbar{
    background-color: var(--DarkGreenBG);
    border: var(--Inset);
}

/* Share popup ===================================================================== */
.WmMRFd2F9FMje__jWs2c4{
    background-color: transparent;
}

._1u63OZOUO8ejFLl83_aFKQ{
    display: none;
}

._2IeAww_mcYOwEY7ZZbPoif{
    border-radius: 0%;
    border: var(--Inset);
    background-color: var(--DarkGreenBG);
    color: var(--OffWhite);
}

._3P0Tm2XKLVG_I9wjP3H-Zs, ._3P0Tm2XKLVG_I9wjP3H-Zs:hover{
    border-radius: 0%;
    border: var(--Outset);
    background-color: var(--GreenBG);
    color: white;
    box-shadow: none;
}

._3P0Tm2XKLVG_I9wjP3H-Zs:active{
    border: var(--Inset);
    background-color: var(--DarkGreenBG);
}

/* Install popup =====================================================================*/
.DesktopUI .Oo5JPcEk_erKEYAzYp2nY{
    background: var(--GreenBG);
    border: var(--Outset);
}

.DesktopUI .Oo5JPcEk_erKEYAzYp2nY:hover{
    background: var(--GreenBG);
    border: var(--Outset);
    color: var(--Maize);
}

.DesktopUI .Oo5JPcEk_erKEYAzYp2nY.ActiveTextChannel{
    background: var(--DarkGreenBG);
    border: var(--Inset); 
    color: var(--Maize);
}

/* Screenshot hover =====================================================================*/
._38FqIwZQKW6BlRyzN66pi6{
    box-shadow: none;
}
._38FqIwZQKW6BlRyzN66pi6 .rYBZBWnNW6m-N9vX0Chce{
    background: var(--GreenBG);
    border: var(--Outset);
}

._38FqIwZQKW6BlRyzN66pi6 .rYBZBWnNW6m-N9vX0Chce .Blur{
    display: none;
}

._37Lk82ESPo7El4__sqZgOV .Unlocked{
    background: var(--DarkGreenBG);
    border: var(--Inset);
    color: var(--Label);
}

._37Lk82ESPo7El4__sqZgOV .Unlocked ._1eZi9D2dwrPAL_LgwE0KVv{
    color: var(--Maize);
    border: none;
}

/* Eula =====================================================================*/
._1dbgUdk0xgEX7E4Db_r5mb{
    background: var(--DarkGreenBG);
    transition-property: transform;
}

.DesktopUI ._2YXHRFCzmxgvxVGtA3TWVf ._7lXDajp5HNY9Kpnbeykv{
    box-shadow: none;
    border: var(--Inset);
    background: var(--DarkGreenBG)
}

/* Controller popup =====================================================================*/*/
.DesktopUI [class*="controllerconfigurator_interstitial_ConfiguratorInterstitialContainer"]{
    background: var(--GreenBG);
    color: var(--OffWhite);
    border: var(--Outset);
}