
/* Draggable divider ===================================================================== */
[class^="library_LibraryWindowDivider"]{
    width: 8px;
    min-width: 8px;
    background-color: transparent !important;
}

[class^="library_LibraryWindowDivider"]:hover{
    background-color: transparent !important;
}

/* General Background and stuff ===================================================================== */
[class*="appdetailsoverview_Container"]{
    background-color: var(--DarkGreenBG);
}

[class^="library_MainPanel"]{
    border: var(--Inset) !important;
}

[class^="writereview_Playtime"]{
    color: var(--Maize) !important;
}

[class*="appdetails_ScrollContainer"], [class*="library_AppDetailsTransitionGroup"], [class*="libraryhome_Container"]{
    background: var(--DarkGreenBG) !important;
    background-image: none !important;
}

[class*="appdetailsoverview_Backdrop"]{
    display: none !important;
}

[class*="smartscrollcontainer_ScrollToTopButton"]{
    display: none;
}

.online [class^="personanameandstatus_playerName"]{
    color: var(--OffWhite);
}

.ingame [class^="personanameandstatus_playerName"]{
    color: var(--Maize);
}

[class*="personanameandstatus_richPresenceLabel"]{
    color: var(--DimListText) !important;
}

[class*="friendsnooze_SnoozeContainer"].online [class*="friendsnooze_SnoozeZ"]{
    color: var(--OffWhite);
}

[class*="appdetailsfriendssection_AvatarAndLabel"]:hover{
    background-color: transparent;
}

[class*="appdetailscontrollersupport_PurchaseNoticeContainer"]{
    box-shadow: none;
    border-radius: 0%;
    border: var(--Outset);
}

[class*="appdetailscontrollersupport_PurchaseNoticeImageContainer"]{
    border-radius: 0%;
    background-color: var(--Maize);
}

[class*="appdetailscontrollersupport_PurchaseNoticeLabel"]{
    box-shadow: none;
    border-radius: 0%;
    background: var(--GreenBG);
    opacity: 1;
    text-shadow: none;
}


/* Mcdonalds Play Place & Info =====================================================================*/
[class*="appactionbutton_PlayButtonContainer_"] [class*="appactionbutton_PlayButton_"], [class*="appactionbutton_PlayButtonContainer_"] [class*="appactionbutton_PlayButton_"]:hover{
    transition: none;
    background: var(--DarkGreenBG);
    border: var(--Inset);
    border-radius: 0%;
}

[class*="appactionbutton_Green_"] [class*="appactionbutton_PlayButton_"], [class*="appactionbutton_Green_"] [class*="appactionbutton_PlayButton_"]:hover{
    background: var(--LightGreenBG) !important;
    border: var(--Outset);
}

[class*="appdetailsplaysection_InnerContainer"]{
    padding: 10px 20px;
}

[class*="appactionbutton_ButtonText"]{
    text-transform: none !important;
    font-weight: 700 !important;
}

[class*="appdetailsplaysection_PlayBarLabel"]{
    text-transform: none;
}

[class*="appactionbutton_Green_"] [class*="appactionbutton_ButtonText"]{
    color: var(--OffWhite);
}

[class*="appactionbutton_PlayButtonContainer_"] [class*="appactionbutton_PlayButton_"] svg path{
    fill: var(--OffWhite);
}

[class*="appactionbutton_PlayButtonContainer_"] [class*="appactionbutton_PlayButton_"]:hover svg path, [class*="appactionbutton_PlayButtonContainer_"] [class*="appactionbutton_PlayButton_"]:hover svg line{
    fill: var(--Maize);
    stroke: var(--Maize);
}

[class*="appactionbutton_PlayButtonContainer_"] [class*="appactionbutton_PlayButton_"]:hover [class*="appactionbutton_ButtonText"]{
    color: var(--Maize);
}

[class*="appactionbutton_ButtonChild"][class*="appactionbutton_StreamingSelector"], [class*="appactionbutton_Green"] > [class*="appactionbutton_ButtonChild"][class*="appactionbutton_StreamingSelector"], [class*="appactionbutton_ButtonChild"][class*="appactionbutton_StreamingSelector"]:hover, [class*="appactionbutton_Green"] > [class*="appactionbutton_ButtonChild"][class*="appactionbutton_StreamingSelector"]:hover{
    background: var(--LightGreenBG);
    border: var(--Outset);
    border-radius: 0%;
}

[class^="appdetailsplaysection_PlayBar_"]{
    background: var(--DarkGreenBG) !important;
}

[class*="appdetailsplaysection_StickyHeader_"] > [class*="appdetailsplaysection_PlayBar_"], [class^="writereview_RatingContainer"]{
    background: var(--GreenBG) !important;
}

[class*="appdetailsplaysection_StickyHeaderShadow"][class*="Visible"]{
    background: transparent;
    border-top: var(--Inset);
}

[class*="appdetailsgameinfopanel_BoxArt_"]{
    box-shadow: none !important;
}

[class*="appdetailsplaysection_MenuButton"], [class*="appdetailsgameinfopanel_Container_"]{
    background-color: var(--GreenBG);
    border: var(--Outset);
    border-radius: 0%;
    color: var(--OffWhite);
}

[class*="appdetailsplaysection_MenuActive"]{
    background-color: var(--DarkGreenBG) !important;
    border: var(--Inset);
}

[class*="appdetailsplaysection_MenuButton"][class*="Favorited"] path{
    stroke: var(--Maize) !important;
    fill: var(--Maize) !important;
}

[class*="appdetailssection_AppDetailsSection_"] [class*="appdetailssection_AppDetailsSectionContainer_"]{
    background: var(--GreenBG) !important;
    border: var(--Outset) !important;
    padding: 5px;
}

[class*="appdetailsgameinfocontainer_AppGameInfoContainer"], [class*="appdetailsgameinfopanel_Container"]{
    transition: none !important;
}

[class*="appdetailsprimarylinkssection_LinkInner"], [class*="appdetailsprimarylinkssection_Link_"]{
    padding: 0 !important;
    margin: 0;
}

[class*="appdetailsprimarylinkssection_LinkInner"]{
    margin-right: 10px;
}

[class*="appdetailsprimarylinkssection_Text"], [class*="appdetailsactivitysection_ViewLastNews"]{
    background: var(--GreenBG) !important;
    border: var(--Outset) !important;
    color: var(--OffWhite) !important;
    padding: 3px 6px;
}

[class*="appdetailsprimarylinkssection_Text"]:active{
    background: var(--DarkGreenBG) !important;
    border: var(--Inset) !important;
}

[class*="appdetailsprimarylinkssection_LinkInner"]:hover [class*="appdetailsprimarylinkssection_Text"]{
    color: var(--Maize) !important;
}

[class*="appdetailsplaysection_StatusNameContainer"] [class*="appdetailsplaysection_PlayBarGameName"]{
    color: var(--OffWhite);
}

/* You've played X hours, review popup ===================================================================== */
[class^="appdetailsspotlight_ReviewContainer"], [class^="appdetailsspotlight_ReviewContainer"] button{
    background: var(--GreenBG) !important;
    border: var(--Outset) !important;
    border-radius: 0%;
    color: var(--Maize);
}

[class^="appdetailsspotlight_ReviewContainer"] svg{
    fill: var(--Maize);
}

/* Post Game Summary ===================================================================== */


[class*="pageablecontainer_PageableContainer"] [class*="pageablecontainer_HeaderPageControls"] > div[class*="spotlightgameplaysummary_GamePlaySummaryHeader"]{
    border: none;
    background: transparent;
    text-transform: none;
    color: var(--OffWhite);
}

[class*="pageablecontainer_PageableCloseButton"]{
    background-color: var(--GreenBG);
    border: var(--Outset);
}

[class*="spotlightgameplaysummary_SummaryCarouselContainer"]{
    background: var(--DarkGreenBG);
    border: var(--Inset);
    border-radius: 0%;
}

[class*="spotlightgameplaysummary_SummaryContainer_"]{
    background: var(--GreenBG);
    border: var(--Outset);
    padding: 0 5px;
}

[class*="spotlightgameplaysummary_SummaryCarouselContainer"]::after{
    display: none;
}

[class*="spotlightgameplaysummary_SummaryScreenshot"]{
    box-shadow: none;
}

/* Activity =====================================================================*/

[class*="appdetailssectionheader_LabelText"]{
    color: var(--OffWhite);
    text-transform: none;
}

[class*="appactivityday_PartnerEventType"], [class*="appactivityday_PartnerEventType"] > div{
    text-transform: none;
}

[class*="appdetailsactivitysection_ActivityFeedContainer_"] [class*="appdetailssection_AppDetailsSectionContainer_"]{
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
}

[class*="appdetailsactivitysection_ActivityFeedContainer_"] [class*="appdetailsactivitysection_FetchMoreContainer_"]{
    color: var(--OffWhite);
}

[class*="appdetailsactivitysection_ActivityFeedContainer_"] [class*="appdetailsactivitysection_FetchMoreContainer_"]::before{
    box-shadow: none !important;
}

[class*="posttextentry_PostTextEntry"] [class*="posttextentry_PostTextEntryArea"]{
    background: var(--DarkGreenBG);
    border: 1px solid var(--GreenBG);
    border-radius: 0%;
    color: var(--OffWhite);
}

[class*="posttextentry_PostTextEntry"] [class*="posttextentry_PostTextEntryArea"]:focus{
    background: var(--DarkGreenBG);
    border: 1px solid var(--GreenBG);
    border-radius: 0%;
    color: var(--OffWhite);
    box-shadow: none;
}

[class*="posttextentry_"][class*="Button"]{
    background-color: var(--GreenBG) !important;
    border: var(--Outset) !important;
    border-radius: 0% !important;
    box-shadow: none;
}

[class*="posttextentry_"][class*="Enabled"]{
    background: var(--GreenBG) !important;
}

[class*="appactivityday_AppActivityDay"]{
    background-color: var(--GreenBG);
    border: var(--Outset);
    padding: 10px;
}

[class*="appactivityday_AppActivityDay"] [class*="appactivityday_AppActivityDate"]{ 
    color: var(--OffWhite);
    text-transform: none;
}

[class*="appactivityday_LeftSideMajorUpdateBar"]{
    display: none;
}

[class*="appactivityday_PartnerEventLargeUpdate"], [class*="appactivityday_PartnerEventMediumImage_B"], [class*="appactivityday_PartnerEventTextOnly"], [class*="appactivityday_PartnerEventTextOnly"]:hover{
    border: none;
    box-shadow: none;
    background: transparent;
}

[class*="appactivityday_PartnerEventMediumImage_Image"][class*="appactivityday_Blur"], [class*="appactivityday_PartnerEventLargeImage_Image"][class*="appactivityday_Blur"]{
    display: none !important;
}

[class*="appactivityday_PartnerEventMediumImage_Container"], [class*="appactivityday_PartnerEventLargeImage_Container"]{
    background: transparent;
    transition: none;
}

[class*="appactivityday_PartnerEventMediumImage_Container"]:hover, [class*="appactivityday_PartnerEventLargeImage_Container"]:hover{
    background: transparent;
}

[class*="appactivityday_PartnerEventTypeUpdate"]{
    color: var(--Maize);
    text-shadow: none;
}

[class*="appactivityday_PartnerEventMediumImage_TextColumn"], [class*="appactivityday_PartnerEventLargeImage_TextColumn"]{
    margin: 0;
    padding: 0;
}

[class*="appactivityday_PartnerEventMediumImage_Title"], [class*="appactivityday_PartnerEventLargeImage_Title"]{
    color: var(--OffWhite);
    text-shadow: none;
}

[class*="appactivityday_PartnerEventMediumImage_Summary"], [class*="appactivityday_PartnerEventLargeImage_Summary"]{
    color: var(--OffWhite);
    text-shadow: none;
}

[class*="appactivityday_Event"] [class*="appactivityday_EventBody"]{
    background: transparent;
    box-shadow: none;
}

[class*="appdetailsactivitysection_ActivityFeedContainer"][class*="appdetailsactivitysection_Rollup"] .Panel > [class*="appactivityday_Event_"]{
    background: var(--GreenBG);
    border: var(--Outset);
    padding: 10px;
}

[class*="appactivityday_Event_"] [class*="appactivityday_PartnerEventFeatured_"]{
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
}

[class*="appactivityday_Event"] [class*="appactivityday_PartnerEventFeaturedHeader"]{
    background: transparent;
    box-shadow: none;
    text-transform: none;
}

[class*="comment_thread_RatingBar"], [class*="comment_thread_ActivityCommentThreadMinimized"]{
    opacity: 1;
}

[class*="comment_thread_RatingBar"] [class*="Button_"], [class*="comment_thread_RatingBar"] [class*="Reactions"]{
    background-color: var(--GreenBG) !important;
    border: var(--Outset);
}

[class*="comment_thread_RatingBar"] [class*="LikeButton"]:not([class*="CanClick"]), [class*="comment_thread_RatingBar"] [class*="LikeButton"]:active {
    border: var(--Inset);
    background-color: var(--DarkGreenBG) !important;
}

[class*="comment_thread_RatingBar"] [class*="LikeButton"][class*="CanClick"] [class*="Count"], [class*="comment_thread_RatingBar"] [class*="LikeButton"][class*="CanClick"] path{
    color: var(--DimListText);
}

[class*="comment_thread_RatingBar"] [class*="LikeButton"] [class*="Count"], [class*="comment_thread_RatingBar"] [class*="LikeIcon"] path{
    color: var(--Maize);
}

[class*="comment_thread_RatingBar"] [class*="CommentCount"], [class*="comment_thread_RatingBar"] [class*="ReactionCount"], [class*="comment_thread_RatingBar"] [class*="CommentIcon"] path, [class*="comment_thread_RatingBar"] [class*="ReactionIcon"] path{
    color: var(--DimListText);
}

[class*="comment_thread_RatingBar"] path{
    fill: currentColor !important;
}

[class*="comment_thread_BackgroundEffects"]{
    background-image: radial-gradient(circle, var(--Maize) 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, var(--Maize) 20%, transparent 30%),
    radial-gradient(circle, var(--Maize) 20%, transparent 20%),
    radial-gradient(circle, var(--Maize) 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, var(--Maize) 15%, transparent 20%),
    radial-gradient(circle, var(--Maize) 20%, transparent 20%),
    radial-gradient(circle, var(--Maize) 20%, transparent 20%),
    radial-gradient(circle, var(--Maize) 20%, transparent 20%),
    radial-gradient(circle, var(--Maize) 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, var(--Maize) 20%, transparent 30%);
}

[class*="appactivityday_ReviewIconThumbsUpColor"], [class*="appdetailsreviewsection_ReviewIconThumbsUpColor"], [class*="appactivityday_ReviewIconThumbsDownColor"], [class*="appdetailsreviewsection_ReviewIconThumbsDownColor"]{
    fill: var(--Maize);
}

[class*="appactivityday_ReviewIconThumbsUp"], [class*="appdetailsreviewsection_ReviewIconThumbsUp"], [class*="appactivityday_ReviewIconThumbsDown"], [class*="appdetailsreviewsection_ReviewIconThumbsDown"]{
    background: var(--LightGreenBG);
    border: var(--Outset);
    border-radius: 0%;
}

[class*="appdetailssection_Body_"] button[class*="appdetailsbutton_AppDetailsButton"]:active{
    background-color: var(--DarkGreenBG);
    border: var(--Inset);
}

/* Achievements =====================================================================*/
[class*="appdetailsachievementssection_AchievementProgress"], [class*="appdetailsplaysection_DetailsProgressContainer"], [class*="appdetailsplaysection_DetailsProgressBar"]{
    border-radius: 0% !important;
}

[class*="appdetailsachievementssection_AchievementProgressContainer"], [class*="appdetailsplaysection_DetailsProgressContainer"]{
    border: var(--Inset);
}
[class*="appdetailsachievementssection_RemainderText"]{
    text-shadow: none;
}

[class*="appdetailsachievementssection_AchievementProgress_"], [class*="appdetailsplaysection_DetailsProgressContainer"] [class*="appdetailsplaysection_DetailsProgressBar"]{
    background-color: var(--Maize) !important;
}

[class*="appdetailsachievementssection_HighlightDiv"]{
    background: transparent;
    box-shadow: none;
}
[class*="appdetailsachievementssection_AllAchieved"] svg path, [class*="appdetailsplaysection_AchievementSVG"] svg path:first-of-type:not([fill-rule="evenodd"]){
    stroke: var(--Maize);
    fill: var(--Maize);
}
[class*="appdetailsachievementssection_AllAchieved"] svg circle, [class*="appdetailsplaysection_AchievementSVG"] svg circle{
    stroke: var(--MaizeBG);
    fill: var(--MaizeBG);
}

[class*="achievementiconbase_Icon"], [class*="appdetailsachievementssection_RemainderContainer"], [class*="appdetailssection_Body_"] button[class*="appdetailsbutton_AppDetailsButton"]{
    background-color: var(--GreenBG) !important;
    border: var(--Outset) !important;
    border-radius: 0% !important;
    box-shadow: none;
    color: var(--OffWhite);
    transition: none;
}


/* Workshop =====================================================================*/
[class*="appdetailsworkshopsection_WorkshopContainer"]{
    /* background: repeating-linear-gradient(
        to right, 
        transparent, 
        transparent 10px, 
        var(--LightGreenBG) 10px, 
        var(--LightGreenBG) 11px
    ), repeating-linear-gradient(
        to bottom, 
        transparent, 
        transparent 10px, 
        var(--LightGreenBG) 10px, 
        var(--LightGreenBG) 11px
    ), transparent; */
    background: transparent;
}

[class*="appdetailsworkshopsection_SubscribedItemsMessage"]{
    color: var(--OffWhite);
}

[class*="appdetailssection_Highlight"]{
    background: transparent;
    box-shadow: none;
}

[class*="appdetailsworkshopsection_FeaturedItem"] [class*="appdetailsworkshopsection_FeaturedItemDetailsContainer"] [class*="appdetailsworkshopsection_FeaturedItemHeader"]{
    color: var(--Maize);
}

[class*="appdetailsworkshopsection_FeaturedItem"] [class*="appdetailsworkshopsection_FeaturedItemHideButton"]{
    background-color: var(--GreenBG);
    border: var(--Outset);
    border-radius: 0%;
}

[class*="appdetailsworkshopsection_FeaturedItem"] [class*="appdetailsworkshopsection_FeaturedItemHideButton"] [class*="SVGIcon"] line{
    stroke: var(--OffWhite);
}

/* Community Content =====================================================================*/
[class*="appdetailscommunityfeed_HeaderStyles"]{
    text-transform: none;
    background: transparent;
    color: var(--Maize);
}
[class*="appdetailscommunityfeed_HeaderStyles"] [class*="infoicon_MoreInfoIcon"]{
    display: none;
}

[class*="appdetailssection_AppDetailsSection_"][class*="appdetailscommunityfeed_CommunityContentContainer"] [class*="appdetailssection_AppDetailsSectionContainer_"]{
    background: transparent !important;
    border: none !important;
    margin: 0;
    padding: 0;
}

[class*="appdetailscommunityfeed_LoadContentButton"]{
    margin: 0 0 0 20px;
    border: var(--Outset);
    background-color: var(--GreenBG);
    color: var(--OffWhite);
    border-radius: 0%;
}

[class*="appdetailscommunityfeed_TopSection_"]{
    padding: 0 5px;
}

[class*="appdetailscommunityfeed_CommunityItem"]{
    border-radius: 0%;
    background-color: var(--GreenBG);
    box-shadow: none;
    border: var(--Outset);
    transition: none;
}

[class*="appdetailscommunityfeed_CommunityItem"]:hover {
    box-shadow: none;
}

[class*="appdetailscommunityfeed_Guide"] [class*="appdetailscommunityfeed_GuideTitle"]{
    color: var(--Maize);
    text-transform: none;
}

[class*="appdetailscommunityfeed_Guide"] [class*="appdetailscommunityfeed_Title"]{
    margin-top: 5px;
}

[class*="appdetailscommunityfeed_Guide"] [class*="appdetailscommunityfeed_Description"]{
    color: var(--Label);
}

[class*="appdetailscommunityfeed_AuthorSection"], [class*="appdetailscommunityfeed_Guide"] [class*="appdetailscommunityfeed_TopSectionInner"]{
    background: transparent;
}

[class*="appdetailscommunityfeed_AuthorSection"] [class*="appdetailscommunityfeed_Avatar"], [class*="appdetailscommunityfeed_AuthorSection"] [class*="appdetailscommunityfeed_Avatar"]:hover{
    filter: brightness(1);
    transform: scale(1);
}

[class*="appdetailscommunityfeed_ArtItem"] [class*="appdetailscommunityfeed_BottomSection"]{
    border-radius: 0%;
    background: var(--GreenBG);
    border: var(--Outset);
    border-left: none;
    box-shadow: none;
}

[class*="appdetailscommunityfeed_CommunityItem"] [class*="appdetailscommunityfeed_PreviewContainer"]{
    border-radius: 0%;
    border: none;
    border-bottom: var(--Inset);
}

[class*="appdetailscommunityfeed_CommunityItem"] [class*="appdetailscommunityfeed_Controls"] [class*="appdetailscommunityfeed_Control"] [class*="appdetailscommunityfeed_Count"]{
    display: none;
}

[class*="appdetailscommunityfeed_CommunityItem"] [class*="appdetailscommunityfeed_Controls"] [class*="appdetailscommunityfeed_Control"] svg path{
    fill: currentColor;
}

[class*="appdetailscommunityfeed_Controls"]{
    right: 0;
    left: auto;
    transform: translate(0, 0);
    bottom: 10px;
}

[class*="appdetailscommunityfeed_CommunityItem"] [class*="appdetailscommunityfeed_Controls"] [class*="appdetailscommunityfeed_Control"]{
    opacity: 1;
    transform: scale(1);
    background-color: var(--GreenBG);
    color: var(--DimListText);
    border: var(--Outset);
    border-radius: 0%;
}

[class*="appdetailscommunityfeed_CommunityItem"] [class*="appdetailscommunityfeed_Controls"] [class*="appdetailscommunityfeed_Control"]:hover{
    color: var(--OffWhite);
}

[class*="appdetailscommunityfeed_Controls"] [class*="appdetailscommunityfeed_Icon"]{
    filter: brightness(0) saturate(100%) invert(52%) sepia(22%) saturate(374%) hue-rotate(49deg) brightness(93%) contrast(91%);
}

[class*="appdetailscommunityfeed_Controls"] [class*="appdetailscommunityfeed_Control"]:hover [class*="appdetailscommunityfeed_Icon"]{
    filter: brightness(0) saturate(100%) invert(98%) sepia(10%) saturate(208%) hue-rotate(33deg) brightness(91%) contrast(91%);
}

[class*="appdetailscommunityfeed_Controls"] [class*="appdetailscommunityfeed_Control"] [class*="appdetailscommunityfeed_Icon"][class*="Selected"], [class*="appdetailscommunityfeed_Controls"] [class*="appdetailscommunityfeed_Control"] [class*="appdetailscommunityfeed_Icon"]:active{
    filter: brightness(0) saturate(100%) invert(75%) sepia(22%) saturate(895%) hue-rotate(15deg) brightness(90%) contrast(95%);
}

/* Hopeful wishing that they eventually add :has support lol */
[class*="appdetailscommunityfeed_Controls"] [class*="appdetailscommunityfeed_Control"]:has([class*="Selected"]), [class*="appdetailscommunityfeed_Controls"] [class*="appdetailscommunityfeed_Control"]:active{
    border: var(--Inset);
    background-color: var(--DarkGreenBG);
}

[class*="appdetailscommunityfeed_MenuButton"] svg, [class*="appdetailscommunityfeed_MenuButton"]:hover svg{
    transition: none;
    fill: currentColor;
    color: inherit;
}

[class*="appdetailscommunityfeed_MenuButton"]{
    opacity: 1;
    transform: scale(1);
    background-color: var(--GreenBG);
    border-radius: 0%;
    border: var(--Outset);
    color: var(--DimListText);
    transition: none;
}

[class*="appdetailscommunityfeed_MenuButton"]:hover{
    background-color: var(--GreenBG);
    color: var(--OffWhite);
}

[class*="appdetailscommunityfeed_MenuButton"]:active{
    background-color: var(--DarkGreenBG);
    border: var(--Inset);
}

/* News Overlay =====================================================================*/
[class*="apppartnereventspage_PartnerEvent"]{
    border: var(--Outset);
    border-radius: 0%;
    background: var(--GreenBG);
    box-shadow: none;
}

[class*="partnereventdisplay_InLibraryView"] [class*="partnereventdisplay_EventDetailTitleContainer"], [class*="partnereventdisplay_LibraryEventTitleContainer"]{
    background: transparent;
    box-shadow: none;
}

[class*="partnereventdisplay_LibraryEventBodyContainer"]{
    padding: 0 24px 24px;
}

[class*="partnereventdisplay_EventBackgroundBlur"]{
    display: none;
}


[class*="apppartnereventspage_EventTypeAndTimeRow"] [class*="apppartnereventspage_TimeandPostedBy"] [class*="apppartnereventspage_EventType"]{
    color: var(--Maize);
    text-transform: none;
}

[class*="apppartnereventspage_EventTypeAndTimeRow"] [class*="apppartnereventspage_TimeandPostedBy"] [class*="localdateandtime_RightSideTitles"], [class*="apppartnereventspage_EventTypeAndTimeRow"] [class*="apppartnereventspage_TimeandPostedBy"] [class*="localdateandtime_ShortDateAndTime"]{
    color: var(--OffWhite);
    text-transform: none;
}

[class*="localdateandtime_ActiveEvent"] [class*="localdateandtime_ActiveEventCallOut"]{
    background-color: var(--Maize);
    color: black;
}

[class*="discussionwidget_InnerContainer"] > div, [class*="discussionwidget_ShareContainer"]{
    padding: 0;
    background-color: transparent;
}

[class*="discussionwidget_VoteCount"], [class*="discussionwidget_DiscussionCount"]{
    color: var(--Maize);
}

[class*="discussionwidget_VoteCount"] svg, [class*="discussionwidget_DiscussionCount"] svg{
    fill: currentColor;
}

[class*="discussionwidget_Container"]{
    background: var(--DarkGreenBG);
    border: var(--Inset);
    margin: 0 20px 20px;
    padding: 10px;
}

[class*="partnereventshared_Button"][class*="partnereventshared_Icon"]{
    border: var(--Outset);
    background-color: var(--GreenBG);
    border-radius: 0%;
    box-shadow: none;
    transition: none;
}

[class*="partnereventshared_Button"][class*="partnereventshared_Icon"]:hover{
    background-color: var(--GreenBG);
    color: var(--Maize);
    box-shadow: none;
}

[class*="partnereventshared_Button"][class*="partnereventshared_Icon"]:active{
    background-color: var(--DarkGreenBG);
    border: var(--Inset);
    box-shadow: none;
}

[class*="partnereventshared_Button"][class*="partnereventshared_Icon"] > svg{
    fill: currentColor;
}

[class*="discussionwidget_ShareContainer"] [class*="discussionwidget_DiscussionButtonText"]{
    display: none;
}

[class*="discussionwidget_ShareContainer"] svg{
    margin: 0;
}

[class*="apppartnereventspage_ControlSection"] [class*="apppartnereventspage_ControlSectionWidth"] [class*="apppartnereventspage_ControlSectionRightSide"] > div{
    background: var(--LightGreenBG);
    border-radius: 0%;
    border: var(--Outset);
    box-shadow: none;
}

[class*="apppartnereventspage_ControlSection"] [class*="apppartnereventspage_ControlSectionWidth"] [class*="apppartnereventspage_ControlSectionRightSide"] > div:hover{
    background: var(--LightGreenBG);
    border: var(--Outset);
    color: var(--Maize);
}

[class*="apppartnereventspage_ControlSection"] [class*="apppartnereventspage_ControlSectionWidth"] [class*="apppartnereventspage_ControlSectionRightSide"] > div:active{
    background: var(--DarkGreenBG);
    border: var(--Inset);
}

[class*="apppartnereventspage_ControlSectionRightSide"] .SVGIcon_Button line, [class*="apppartnereventspage_ControlSectionRightSide"] .SVGIcon_Button polygon{
    fill: currentColor !important;
    stroke: currentColor !important;
}

[class*="apppartnereventspage_AnimIn"]{
    animation: none;
}
[class*="apppartnereventspage_AnimIn"]:active svg{
    transform: scale(1);
}

[class*="library_AppDetailsOverlayTransitionGroup"] [class*="library_OverlayAppDetailsTransitionEntered"]{
    backdrop-filter: blur(0px) brightness(0.35) saturate(0.75);
}

/* Achievement Overview Overlay =====================================================================*/
[class*="library_AchievementsOverlayContainer"] [class*="library_AchievementsPageContainer"] [class*="gamepadpage_GamepadPage"][class*="gamepadpage_Flexed"]{
    border: var(--Outset);
    border-radius: 0%;
    background: var(--GreenBG);
    box-shadow: none;
}

[class*="achievementspage_Background"] [class*="Blur"]{
    backdrop-filter: brightness(100%) blur(0);
    background: transparent;
}

[class*="achievementspage_Page"], [class*="achievementslist_AchievementList"]{
    background: var(--GreenBG);
}

[class*="achievementsheader_StatsBlock"]{
    background: var(--GreenBG);
    border: var(--Outset);
    border-radius: 0%;
}

[class*="achievementsheader_BigStat"] [class*="achievementsheader_ProgressLabel"] [class*="achievementsheader_Label"]{
    text-transform: none;
    columns: var(--OffWhite);
    font-weight: 500;
}

[class*="progressbar_ProgressBar"]{
    background: var(--DarkGreenBG);
    border: var(--Inset);
    border-radius: 0%;
}

[class*="progressbar_ProgressBar"] [class*="progressbar_Percent"]{
    transition: none !important;
    background: var(--Maize) !important;
    border-radius: 0%;
}

[class*="achievementsheader_BigStat"] svg path{
    stroke: var(--Maize);
    fill: var(--Maize);
}

[class*="achievementsheader_BigStat"] svg circle{
    stroke: var(--MaizeBG);
    fill: var(--MaizeBG);
}
[class*="gamepadtabbedpage_TabHeaderRowWrapper"][class*="gamepadtabbedpage_Scrolled"]::before{
    box-shadow: none;
    backdrop-filter: blur(0px);
    background: transparent;
}

[class*="gamepadtabbedpage_Tab_"]{
    background: var(--GreenBG);
    border: var(--Outset);
    border-radius: 0%;
    text-transform: none;
    font-weight: 500;
    transform: none;
}

[class*="gamepadtabbedpage_Tab_"]:hover{
    background: var(--GreenBG);
    color: var(--Maize);
    text-transform: none;
}

[class*="gamepadtabbedpage_Tab_"][class*="Selected"], [class*="gamepadtabbedpage_Tab"][class*="Selected"]:hover{
    background: var(--DarkGreenBG);
    border: var(--Inset);
}

[class*="achievementsheader_SearchField"] .DialogInput_Wrapper input, [class*="achievementslist_GlobalAchievementListItem"]{
    border: var(--Inset);
    background: var(--DarkGreenBG) !important;
}

[class*="achievementslist_GlobalAchievementListItem"] [class*="achievementslist_Content"] [class*="achievementslist_ProgressFill"]{
    background: var(--MaizeBG)
}

[class*="achievementslist_GlobalAchievementListItem"] [class*="achievementslist_UnlockContainer"]{
    color: var(--Maize);
}

[class*="achievementslist_AchievementTitle"], [class*="achievementslist_AchievementDescription"], [class*="achievementslist_HeaderText"], [class*="achievementslist_GlobalAchievementListItem"] [class*="achievementslist_Content"] [class*="achievementslist_Info"] [class*="achievementslist_Title"], [class*="achievementslist_GlobalAchievementListItem"] [class*="achievementslist_Content"] [class*="achievementslist_Info"] [class*="achievementslist_Description"]{
    color: var(--OffWhite);
    text-transform: none;
}

[class*="achievementslist_AchievementGlobalPercentage"], [class*="achievementslist_UnlockDate"], [class*="achievementslist_GlobalAchievementListItem"] [class*="achievementslist_Content"] [class*="achievementslist_Percent"]{
    color: var(--Label);
    text-transform: none;
}

[class*="library_AchievementsOverlayContainer"] [class*="library_AchievementsPageContainer"] [class*="library_CloseButton"]{
    background: var(--LightGreenBG);
    border-radius: 0%;
    border: var(--Outset);
    box-shadow: none;
}

[class*="library_AchievementsOverlayContainer"] [class*="library_AchievementsPageContainer"] [class*="library_CloseButton"]:hover{
    background: var(--LightGreenBG);
    border: var(--Outset);
    color: var(--Maize);
}

[class*="library_AchievementsOverlayContainer"] [class*="library_AchievementsPageContainer"] [class*="library_CloseButton"]:active{
    background: var(--DarkGreenBG);
    border: var(--Inset);
}

[class*="library_AchievementsPageContainer"] .SVGIcon_Button line{
    fill: currentColor !important;
    stroke: currentColor !important;
}

[class*="achievementspage_AchievementTabs"] ._TabContentsScroll::-webkit-scrollbar{
    background-color: var(--DarkGreenBG);
    border: var(--Inset);
}

/* Share popup ===================================================================== */
[class*="partnereventshared_FlexColumnContainer"]{
    background-color: transparent;
}

[class*="partnereventshared_Divider"]{
    display: none;
}

[class*="discussionwidget_LinkInput_"]{
    border-radius: 0%;
    border: var(--Inset);
    background-color: var(--DarkGreenBG);
    color: var(--OffWhite);
}

[class*="partnereventshared_Button"], [class*="partnereventshared_Button"]:hover{
    border-radius: 0%;
    border: var(--Outset);
    background-color: var(--GreenBG);
    color: white;
    box-shadow: none;
}

[class*="partnereventshared_Button"]:active{
    border: var(--Inset);
    background-color: var(--DarkGreenBG);
}

/* Install popup =====================================================================*/
.DesktopUI [class*="installrequest_FolderOption"]{
    background: var(--GreenBG);
    border: var(--Outset);
}

.DesktopUI [class*="installrequest_FolderOption"][class*="Active"]{
    background: var(--DarkGreenBG);
    border: var(--Inset); 
    color: var(--Maize);
}

/* Screenshot hover =====================================================================*/
[class*="appdetailshover_AppDetailsHover"]{
    box-shadow: none;
}
[class*="appdetailshover_AppDetailsHover"] [class*="appdetailshover_Background"]{
    background: var(--GreenBG);
    border: var(--Outset);
}