[class*="library_LeftListSizableContainer_"]{
    border: var(--Inset);
}

/* Home Button & Collections Button ======================================================================= */
[class*="gamelisthome_Bar_"]{
    background-color: var(--GreenBG) !important;
    border: var(--Outset);
    border-radius: 0%;
}


[class*="Selected"][class*="gamelisthome_Bar_"]{
    background-color: var(--DarkGreenBG) !important;
    border: var(--Inset);
}

[class*="gamelisthome_Bar_"] svg{
    display: none;
}

[class^="gamelistbar_GameList"]{
    padding-top: 8px;
    padding-bottom: 2px;
}

[class^="gamelisthome_Label"]{
    color: var(--OffWhite);
    text-transform: none;
}

[class*="gamelisthome_CollectionButton_"]{
    background-color: var(--GreenBG) !important;
    border: var(--Outset);
    border-radius: 0%;
}

[class*="gamelisthome_CollectionIconBox_"]{
    background: var(--OffWhite) !important;
}

[class*="Selected"] [class*="gamelisthome_CollectionIconBox_"], [class*="gamelisthome_CollectionButton_"]:hover [class*="gamelisthome_CollectionIconBox_"]{
    background: var(--OffWhite) !important;
}

/* Games Software Dropdown & Toggles ======================================================================= */

[class^="gamelistdropdown_Bar_"] [class^="gamelistdropdown_Menu"]{
    background-color: var(--DarkGreenBG);
    border: 1px solid var(--GreenBG);
    border-radius: 0%;
    text-transform: none ;
}

[class^="gamelistdropdown_Bar_"] [class^="gamelistdropdown_Menu"]:hover{
    background-color: var(--GreenBG);
}

[class^="gamelistdropdown_Filters"] [class*="Active"] svg{
    fill: var(--Maize) !important;
}
[class^="gamelistdropdown_Filters"] [class*="Active"] circle, [class^="gamelistdropdown_Filters"] [class*="Active"] polyline{
    stroke: var(--Maize) !important;
}

[class^="gamelistdropdown_Bar_"]{
    background-color: var(--DarkGreenBG);
    padding-top: 2px;
    padding-bottom: 2px;
}

[class*="gamelistdropdown_DropDown"] [class*="gamelistdropdown_Row"]{
    text-transform: none;
} 

[class*="appfilterpane_Container"] [class*="appfilterpane_FilterArea"] [class*="appfilterpane_FilterBucket"] [class*="appfilterpane_FilterBucketLabel"]{
    text-transform: none;
}

[class*="appfilterpane_Container"] [class*="appfilterpane_SaveButton"]{
    background: var(--LightGreenBG) !important;
    transition: none;
}

[class*="appfilterpane_Container"] [class*="appfilterpane_SaveButton"]:hover{
    color: var(--Maize);
}

[class*="appfilterpane_Container"] [class*="appfilterpane_SaveButton"]::before{
    display: none;
}

[class*="appfilterpane_Container"] [class*="appfilterpane_SaveButton"]:hover .SVGIcon_Button{
    fill: var(--Maize);
}

/* This is for the scroll button. I think it sucks! :) */
[class*="gamelistdropdown_Scroll"]{
    display: none;
}

/* Game Search Bar ======================================================================= */
[class^="gamelistsearchbar_Container_"]{
    padding-top: 6px;
    padding-bottom: 4px;
    background-color: var(--DarkGreenBG);
}

[class^="gamelistsearchbar_Container_"] .DialogInput{
    background-color: transparent !important;
    box-shadow: none !important;
}

[class^="gamelistsearchbar_Container_"] [class*="SearchInput"]{
    border-radius: 0%;
    border: 1px solid var(--GreenBG);
    margin-right: 5px;
    height: 34px;
}

[class^="gamelistsearchbar_Container_"] [class*="SearchInput"] input{
    border: none;
}

[class^="gamelistsearchbar_AdvancedSearchButton_"]{
    background-color: var(--GreenBG) !important;
    border: var(--Outset);
    border-radius: 0%;
}

[class^="gamelistsearchbar_Container_"] [class^="gamelistsearchbar_AdvancedSearchContainer_"] [class^="gamelistsearchbar_AdvancedSearchButton_"] svg path{
    fill: var(--OffWhite);
}

[class*="Extended"] [class^="gamelistsearchbar_AdvancedSearchButton_"]{
    background-color: var(--DarkGreenBG) !important;
    border: var(--Inset);
}
/* Advanced Search Menu */
[class^="gamelistsearchbar_AdvancedSearchPane_"]{
    background-color: var(--GreenBG) !important;
    box-shadow: none !important;
    border-radius: 0% !important;
    border: 1px solid var(--DarkGreenBG);
}

[class^="gamelistsearchbar_AdvancedSearchPane_"]::before{
    display: none;
}

[class^="gamelistsearchbar_FilterTag_"]{
    background-color: var(--GreenBG) !important;
}

[class^="appfilterpane_FilterBucketLabel"]{
    color: var(--Maize) !important;
}

[class^="appfilterpane_SaveButton_"]{
    background: var(--MaizeBG) !important;
    color: var(--OffWhite) !important;
}

/* Categories ======================================================================= */

[class^="gamelistsectionheader_Container"], [class^="gamelistsectionheader_Container"]:hover{
    background: transparent;
}

[class^="gamelistsectionheader_Container"] svg{
    stroke: var(--Maize);
}

[class^="gamelistsectionheader_Container"][class*="gamelistsectionheader_HasContextMenuOpen"]{
    border: var(--Outset);
    background: var(--GreenBG);
}

[class^="gamelistsectionheader_Section"], [class^="gamelistsectionheader_Section"]:hover{
    color: var(--Maize) !important;
    text-transform: none !important;
}
/* Handle events */
[class^="gamelistbar"] [class*="Selected"]{
    background-color: var(--GreenBG);
    box-shadow: none !important;
}

/* Games ======================================================================= */
[class^="gamelistbar"], [class*="gamelist_Container"] [class*="ReactVirtualized__Grid"]{
    background: var(--DarkGreenBG);
    margin: 0;
    border-radius: 0%;
    box-shadow: none;
}

[class*="gamelistentry_Selected"][class*="gamelistentry_Container"] [class*="CloudError"]{
    background: transparent;
    color: var(--Maize);
}

[class*="gamelistentry_GameListEntryLabels"], [class*="gamelistentry_GameListEntryLabels"] *{
    background: transparent !important;
}

[class^="gamelistentry_Container_"]:hover, [class^="gamelistentry_Container_"][class*="Selected"], [class^="gamelistentry_Container_"][class*="Selected"]:hover, [class^="gamelistentry_Container_"][class*="Selected"]:hover [class^="gamelistentry_GameListEntryContainer_"]{
    background-color: var(--GreenBG);
}

[class*="gamelistentry_Updating_"], [class*="gamelistentry_DownloadProgress_"], [class*="gamelistentry_Container"][class*="gamelistentry_CloudOutOfDate"] span, [class*="gamelistentry_Running"] span, [class*="gamelistentry_Container"][class*="gamelistentry_Synchronizing"]{
    color: var(--Maize) !important;
}

[class*="gamelistentry_Updating_"] circle, [class*="gamelistentry_CloudOutOfDate"] circle, [class*="gamelistentry_AppIconDownloading"] svg[class*="gamelistentry_DownloadProgressSVG"] circle{
    stroke: var(--Maize) !important;
}

[class*="gamelistentry_HoverOverlay_"]{
    background-color: var(--GreenBG) !important;
    box-shadow: none !important;
    border-radius: 0% !important;
}

[class*="gamelistentry_FriendIsPlaying"] svg path, [class*="gamelistentry_FriendIsPlaying"] svg circle{
    fill: var(--Maize);
}
/* Right Click Menu */
.DesktopUI [class*="library_ContextMenuAction"]{
    background: var(--LightGreenBG) !important;
    border: var(--Outset);
    border-radius: 0%;
}

.DesktopUI [class*="library_ContextMenuAction"].Play{
    text-transform: none;
}

.DesktopUI [class*="library_ContextMenuAction"]:hover{
    background: var(--LightGreenBG) !important;
    color: var(--Maize);
}

.DesktopUI [class*="contextMenuItem"]:hover, .DesktopUI [class*="contextMenuItem"][class*="active"]{
    color: var(--Maize);
    background: transparent;
}

[class*="gamelistentry_HasContextMenuOpen"]{
    border: var(--Inset);
    background: var(--GreenBG);
}