._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F{
    border: var(--Outset);
}

._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._2_4_nZy-T2C3pHa81tGH76{
    border: none;
    background: var(--DarkGreenBG);
    box-shadow: none;
}

._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._1m0suXtV6O2fXS1Gn-nWVw ._2cIK-w-zexbpzoh8jWH-tn{
    background: transparent;
    padding: 0;
}

._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._1m0suXtV6O2fXS1Gn-nWVw ._1m0suXtV6O2fXS1Gn-nWVw{
    gap: 0;
}


._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._1m0suXtV6O2fXS1Gn-nWVw ._2cIK-w-zexbpzoh8jWH-tn > span > div{
    background: var(--GreenBG);
    border: var(--Outset);
    padding: 2px 4px;
    min-width: fit-content !important;
    min-height: 100% !important;
}

._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._1m0suXtV6O2fXS1Gn-nWVw ._2cIK-w-zexbpzoh8jWH-tn > span div{
    text-transform: none !important;
}

._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._1m0suXtV6O2fXS1Gn-nWVw ._2cIK-w-zexbpzoh8jWH-tn > span div:hover{
    color: var(--Maize) !important;
}

._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._1m0suXtV6O2fXS1Gn-nWVw [role="rowgroup"]{
    border: var(--Inset);
    border-top: 0;
}

._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._1m0suXtV6O2fXS1Gn-nWVw ._1XAm7DWwrTa6XnYYJ5kxAK {
    background: transparent;
}

._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._1m0suXtV6O2fXS1Gn-nWVw ._2fSU9jBJhQxuu2JzRjAFI7{
    display: none;
}

._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._1m0suXtV6O2fXS1Gn-nWVw ._1XAm7DWwrTa6XnYYJ5kxAK span{
    border-left: none;
}

._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._1m0suXtV6O2fXS1Gn-nWVw ._3mCrTKGesl-jD-k-buQ13_{
    transition: none;
    background: var(--GreenBG);
    color: var(--OffWhite);
    border: var(--Outset);
    margin: 0;
    height: 26px;
}


._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._1m0suXtV6O2fXS1Gn-nWVw ._3mCrTKGesl-jD-k-buQ13_:hover{
    background: var(--GreenBG);
    color: var(--Maize);
    border: var(--Outset);
}

._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._1m0suXtV6O2fXS1Gn-nWVw ._3mCrTKGesl-jD-k-buQ13_:active{
    background: var(--DarkGreenBG);
    border: var(--Inset);
}

._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._1m0suXtV6O2fXS1Gn-nWVw ._3MUXEF0e040pVLXsjVSJ0o:hover, ._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._1m0suXtV6O2fXS1Gn-nWVw ._3vedM8he3cvXOGRug4HKZE{
    background: transparent;
    color: var(--Maize);
}

._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._341mdPDkZV7JkbIxGBREsd ._30Bn7zCGRm9mu2m62-VXOF._3vedM8he3cvXOGRug4HKZE{
    border: var(--Inset) !important;
    background: var(--DarkGreenBG) !important;
    color: var(--Maize);
}

._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._1EKWPcG8fTbIjt4XH51i5B{
    transition: none;
    padding: 0px 8px 16px;
}

._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._341mdPDkZV7JkbIxGBREsd{
    padding: 0px 8px 4px;
}

/* Tabs */
._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2X_ZpO2X_CIOIEfml3ZTcX{
    gap: 0;
}

._2rxrVvbku0AC8Qbequ4-z9 button.DialogButton svg{
    color: inherit;
}

._2rxrVvbku0AC8Qbequ4-z9 ._2X_ZpO2X_CIOIEfml3ZTcX button.DialogButton.Search{
    margin: 0;
    width: 44px;
    justify-content: center;
    padding: 0;
}
._2rxrVvbku0AC8Qbequ4-z9 ._2X_ZpO2X_CIOIEfml3ZTcX button.DialogButton{
    margin: 10px 0 0 0;
    border-bottom: none !important;
}

._2rxrVvbku0AC8Qbequ4-z9 ._2X_ZpO2X_CIOIEfml3ZTcX button.DialogButton.Selected{
    color: var(--Maize) !important;
    margin-top: 5px;
    position: relative;
    transform: translateY(1px);
}
/* .DialogRoundCheckboxField{
    border-radius: 0;
}

.DialogRoundCheckboxField_Control{
    background-color: var(--DarkGreenBG);
    border: var(--Inset);
    border-radius: 0;
}

.DialogRoundCheckboxField_OuterCircle, .DialogRoundCheckboxField_Container:hover .DialogRoundCheckboxField_OuterCircle{
    background: transparent;
    box-shadow: none;
    transition: none;
}

.DialogRoundCheckboxField_Control.Active .DialogRoundCheckboxField_InnerCircle{
    box-shadow: none;
}

.DialogRoundCheckboxField_Control .DialogRoundCheckboxField_InnerCircle{
    transition: none;
    background: var(--Maize);
    border-radius: 0;
} */