.LclHwcOfHFpwObYMD1HLa, .DialogContent{
    background: var(--GreenBG);
    border: var(--Outset);
}

.LclHwcOfHFpwObYMD1HLa ._2aHnQT0gTQ5KIsi5omK93w ._134yW7SKfZYwmvwlUElGx-{
    background-color: var(--DarkGreenBG);
    border: var(--Inset);
    border-radius: 0%;
    box-shadow: none;
}

.LclHwcOfHFpwObYMD1HLa ._2aHnQT0gTQ5KIsi5omK93w ._134yW7SKfZYwmvwlUElGx- ._3DEhfTvEKwgLd4smd6QdaU{
    background-color: var(--GreenBG);
    border: var(--Outset);
    border-radius: 0%;
}

.LclHwcOfHFpwObYMD1HLa ._2aHnQT0gTQ5KIsi5omK93w ._134yW7SKfZYwmvwlUElGx- ._3DEhfTvEKwgLd4smd6QdaU:hover {
    background-color: var(--GreenBG);
    color: var(--Maize);
}

.LclHwcOfHFpwObYMD1HLa ._3H2GezG50hog8gSDj-qbx1 ._3EWVuoln1WAvpEaPNfpift, .LclHwcOfHFpwObYMD1HLa ._3H2GezG50hog8gSDj-qbx1 ._1d8CbcBnA6t3lsxYdnMv1h{
    background-color: var(--GreenBG);
    border: var(--Outset);
    border-radius: 0%;
}

.LclHwcOfHFpwObYMD1HLa ._3H2GezG50hog8gSDj-qbx1 ._3EWVuoln1WAvpEaPNfpift:hover, .LclHwcOfHFpwObYMD1HLa ._3H2GezG50hog8gSDj-qbx1 ._1d8CbcBnA6t3lsxYdnMv1h:hover{
    background-color: var(--GreenBG);
    color: var(--Maize);
}

.LclHwcOfHFpwObYMD1HLa ._3H2GezG50hog8gSDj-qbx1 ._3EWVuoln1WAvpEaPNfpift:active, .LclHwcOfHFpwObYMD1HLa ._3H2GezG50hog8gSDj-qbx1 ._1d8CbcBnA6t3lsxYdnMv1h:active{
    background-color: var(--DarkGreenBG);
    border: var(--Inset);
}


