.zhaKeChn9HPNSMtk0ami_ ._3m0MnUo45wjLOfNLpZ-3KH{
    background: var(--GreenBG);
    border: var(--Inset);
    border-bottom: none;
    color: var(--OffWhite);
}

.zhaKeChn9HPNSMtk0ami_ ._1e6tjguQEHdYIehM9aRmO5{
    border: var(--Inset);
    border-top: none;
    background-color: var(--DarkGreenBG);
    box-shadow: none;
}

.zhaKeChn9HPNSMtk0ami_ ._1cXzMrhKqoTeIK_bPpNLIC:hover{
    background: var(--LightGreenBG);
}

.zhaKeChn9HPNSMtk0ami_ .kOsdHFGVApmVzmcTgOixo button.DialogButton:hover::before {
    display: none;
}