._3zWunJFZU6u89fIABN9Gkf{
    background: var(--DarkGreenBG);
    border: var(--Inset);
    box-shadow: none;
}

._3WOF4kDR1RbjelZgS8Qd-H ._3uGOyXFBdLEV_F6dICiSwx .DialogButton{
    opacity: 1;
}

._2H40REphoCtny5VfHm5Ad9 ._1-R1Ud0bImFcswoqa8FbU.Toggled{
    background: var(--DarkGreenBG) !important;
    border: var(--Inset) !important;
}