/* General window & Navbar =================================================================*/

._3I6h_oySuLmmLY9TjIKT9s{
    flex-direction: column;
    padding: 30px 4px 20px;
    border: var(--Outset);
    background-color: var(--GreenBG);
    box-sizing: border-box;
}

.client_chat_frame.fullheight .title-area{
    height: 30px !important;
    min-height: 30px !important;
}

.client_chat_frame.fullheight .title-area .window-controls{
    position: absolute;
    top: 4px;
}

.MzjwfxXSiSauz8kyEuhYO ._EebF_xe4DGRZ9a0XkyDj {
    overflow-x: auto;
    overflow-y: hidden;
}

[class*="settings_DesktopPopup"] [class*="pagedsettings_PagedSettingsDialog_PageList_"]::-webkit-scrollbar{
    background-color: var(--DarkGreenBG);
    position: absolute;
    border: var(--Inset);
    transform: translateY(-10px);
}

.DesktopUI .MzjwfxXSiSauz8kyEuhYO .RTicBCbDcEGkjsbmWzA8C{
    min-height: 39px;
    max-height: 39px;
}


.MzjwfxXSiSauz8kyEuhYO .DialogContentTransition{
    border-top: none;   
}

.DesktopUI ._1UEEmNDZ7Ta3enwTf5T0O0{
    display: none;
}

._EebF_xe4DGRZ9a0XkyDj{
    height: 100%;
    width: 50%;
    flex-direction: row;
    padding: 0;
    overflow: visible;
}

._EebF_xe4DGRZ9a0XkyDj::-webkit-scrollbar{
    background-color: var(--DarkGreenBG);
}

.bkfjn0yka2uHNqEvWZaTJ{
    padding: 4px 2px;
    font-size: 12px;
    border: var(--Outset);
    border-radius: 0%;
    transform: translateY(1px);
    background-color: var(--GreenBG) !important;
    color: var(--OffWhite) !important;
    max-width: none;
    white-space: nowrap;
    margin-top: 2px;
}

.bkfjn0yka2uHNqEvWZaTJ.ActiveTextChannel{
    background-color: var(--GreenBG);
    z-index: 10;
    border-bottom: none;
    color: var(--Maize) !important;
    padding: 0px 8px;
    margin-top: 0;
}

.bkfjn0yka2uHNqEvWZaTJ .pagedsettings_PagedSettingsDialog_PageListItem_Title{
    text-overflow: unset;
}

.bkfjn0yka2uHNqEvWZaTJ .U6HcKswXzjmWtFxbjxuz4{
    color: inherit !important;
    margin-right: 2px;
}

._3qEgQJqeb0zyM12KXq64Or{
    padding: 0;
    margin: 0;
    position: absolute;
    top: 4px;
    left: 8px;
    color: var(--OffWhite);
    height: min-content;
    text-transform: none;
    font-weight: normal;
}

.DesktopUI .RTicBCbDcEGkjsbmWzA8C{
    background: var(--GreenBG);
    padding: 0;
    min-width: 100%;
    box-sizing: border-box;
    min-height: 27px;
    max-height: 27px;
    flex-direction: row;
    position: static;
}

.DialogContentTransition{
    height: 100%;
    border: var(--Outset);
    box-sizing: border-box;
}

.DesktopUI ._1I3NifxqTHCkE-2DeritAs{
    padding: 8px !important;
    background: var(--GreenBG);
    border: none;
}

/* Toggles =================================================================*/

._3__ODLQXuoDAX41pQbgHf9{
    box-shadow: none !important;
}

._2JtC3JSLKaOtdpAVEACsG1{
    background: var(--DarkGreenBG);
    border: var(--Inset);
    border-radius: 0%;
    transition: none;
}

._3__ODLQXuoDAX41pQbgHf9.Disabled ._2JtC3JSLKaOtdpAVEACsG1, ._3__ODLQXuoDAX41pQbgHf9.Disabled ._3__ODLQXuoDAX41pQbgHf9{
    background: var(--DisabledText1);
}


._3ld7THBuSMiFtcB_Wo165i ._2JtC3JSLKaOtdpAVEACsG1::before{
    background: var(--MaizeBG);
    transition: none;
}

._3__ODLQXuoDAX41pQbgHf9{
    border-radius: 0%;
    transition: none;
    box-shadow: none;
    border: var(--Outset);
    width: 20px;
    background: var(--GreenBG);
}

._3ld7THBuSMiFtcB_Wo165i ._3__ODLQXuoDAX41pQbgHf9{
    background: var(--Maize);
}

/* Content =================================================================*/

.DesktopUI ._2OJfkxlD3X9p8Ygu1vR7Lr, ._1FyBL6obxHQ2Z2CsaV2Gbz ._1wSQxXZWWYuvKQyTg1CHKj a{
    color: var(--Label);
}

._1FyBL6obxHQ2Z2CsaV2Gbz ._1wSQxXZWWYuvKQyTg1CHKj a:hover{
    color: var(--Maize);
}

._1FyBL6obxHQ2Z2CsaV2Gbz .DialogBody ._3zuICQ63IRympzZ6qgs-5O{
    color: var(--OffWhite);
    text-transform: none;
    font-size: 20px;
}

._1FyBL6obxHQ2Z2CsaV2Gbz .DialogBody ._1KmR8MOpvgQ9OO2AmwOCca{
    color: var(--Maize);
}

._1FyBL6obxHQ2Z2CsaV2Gbz .DialogBody ._3lj3-GDYOlcoIFB3fFo1ko{
    background: var(--DarkGreenBG);
    border: var(--Inset);
    border-radius: 0%;
}

._1FyBL6obxHQ2Z2CsaV2Gbz .DialogBody ._3sXdOJ9DEh5zdS54_ptwgW{
    border: 1px transparent;
    box-shadow: none;
    background: var(--DarkGreenBG);
}

._1FyBL6obxHQ2Z2CsaV2Gbz .DialogBody ._3sXdOJ9DEh5zdS54_ptwgW ._1SKB0Xc7OpWlOlr-wSi8ho, ._1FyBL6obxHQ2Z2CsaV2Gbz .DialogBody ._3sXdOJ9DEh5zdS54_ptwgW ._1SKB0Xc7OpWlOlr-wSi8ho:hover{
    background: var(--GreenBG);
    border: var(--Outset);
    text-transform: none;
    border-left: none;
    border-right: none;
}

._1FyBL6obxHQ2Z2CsaV2Gbz .DialogBody ._3sXdOJ9DEh5zdS54_ptwgW ._1SKB0Xc7OpWlOlr-wSi8ho:first-of-type{
    border-left: var(--Outset);
}

._1FyBL6obxHQ2Z2CsaV2Gbz .DialogBody ._3sXdOJ9DEh5zdS54_ptwgW ._1SKB0Xc7OpWlOlr-wSi8ho:nth-of-type(4){
    border-right: var(--Outset);
}

._1FyBL6obxHQ2Z2CsaV2Gbz .DialogBody ._3sXdOJ9DEh5zdS54_ptwgW ._2nXS1OQvhODwzoAc75AEKR{
    border-left: var(--Inset);
    border-bottom: var(--Inset);
    margin: 0;
}

._1FyBL6obxHQ2Z2CsaV2Gbz .DialogBody ._3sXdOJ9DEh5zdS54_ptwgW ._2tvvLzzndDzD9b0ORuVNjk{
    border-right: var(--Inset);
    border-bottom: var(--Inset);
    margin: 0;
}

._1FyBL6obxHQ2Z2CsaV2Gbz .DialogBody ._3sXdOJ9DEh5zdS54_ptwgW a, ._1FyBL6obxHQ2Z2CsaV2Gbz .DialogBody ._3sXdOJ9DEh5zdS54_ptwgW .dR1gzt2Xg4CjsE9T0Q4Lc{
    border-bottom: var(--Inset);
    margin: 0;
}

/* Settings specific content =================================================================*/

._3qIXY674NedSZNa-CXtNlt, .DesktopUI ._3fPiC9QRyT5oJ6xePCVYz8._3fPiC9QRyT5oJ6xePCVYz8 {
    color: var(--Label);
}

.DesktopUI ._2rK4YqGvSzXLj1bPZL8xMJ, ._2LOrs2FFkZpqUcObLlzpuc, .DesktopUI ._1HL6KuwUJaZQ7x2rmAxxSz{
    color: var(--OffWhite);
    text-transform: none;
}

._1PBuyc38k9xkUt4KB_lXh-{
    color: var(--Maize);
}

.BRmrC-jnwpXqye4oYB21C button.DialogButton{
    background: transparent;
    color: var(--OffWhite);
}

.DesktopUI .aFxOaYcllWYkCfVYQJFs0{
    mask-image: none;
    -webkit-mask-image: none;
}

.DialogBody a{
    text-decoration: underline;
    color: var(--Label);
}

.DialogBody a:hover{
    color: var(--Maize);
}

._2n6FNLKyb6al_YPk13xS7S ._3vHX3wZSMEfQYNhAjbu0RB:hover{
    background-color: transparent;
}

.ybEU2kARViIFGigPw8VQ0 ._181OY9APZJDARykJ_KOFPE ._1rihlgVMF4Q_fFZDnXeVt5{
    text-transform: none;
    color: var(--Maize);
}

._1L9a0QuKYIDA8pw0ztz0tr{
    color: var(--Label) !important;
}

.DesktopUI ._1L9a0QuKYIDA8pw0ztz0tr svg, ._1L9a0QuKYIDA8pw0ztz0tr ._2B8djgiwv5XCyvzl7GxWBA, ._1L9a0QuKYIDA8pw0ztz0tr ._1G9v2mshuM0YQNG51iX5fH{
    color: inherit !important;
    text-transform: none !important;
}

.MzjwfxXSiSauz8kyEuhYO ._2OJfkxlD3X9p8Ygu1vR7Lr._27UVYW_V-GslmLf0-gfVCM:not(.Disabled):hover{
    background: none;
    cursor: default;
}

._2OJfkxlD3X9p8Ygu1vR7Lr._1pmyxI3wxLrWwGnc52yVns .lcD7JwtsRxFA78_NDNzGr{
    color: var(--Maize);
}

._2yVKjlAVW3txkGmVpX9G8i{
    background: transparent;
    border-radius: 0;
    box-shadow: none;
}

._2qYC3gFAkLcB48i6dTz051{
    border-radius: 0;
    background-color: var(--DarkGreenBG);
    border: var(--Inset);
    color: var(--OffWhite);
}

._2qYC3gFAkLcB48i6dTz051 ._3lwcRYJ_r7x01Cn15bcdYI{
    background-color: var(--GreenBG);
    border-radius: 0%;
    border: var(--Outset);
    transition: none;
}

._2qYC3gFAkLcB48i6dTz051 ._3lwcRYJ_r7x01Cn15bcdYI:hover{
    color: var(--Maize);
}

._2qYC3gFAkLcB48i6dTz051 ._3ZBFoxumQBb1JEVw_DZzaC{
    background-color: var(--DarkGreenBG);
    border-radius: 0%;
    border: var(--Inset);
    color: var(--OffWhite);
}

._2qYC3gFAkLcB48i6dTz051 ._3ZBFoxumQBb1JEVw_DZzaC:hover, ._3Q_M7UkwxmT8syYL2g2DBQ .Qeg4qAFIMLaYd3mHOBndS{
    background: var(--DarkGreenBG);
}
