[class*="screenshotmanagerdialog_ExplainerBox"]{
    border-radius: 0%;
    border: var(--Inset);
    background: var(--DarkGreenBG)
}

[class*="screenshotmanagerdialog_ExplainerBox"] [class*="screenshotmanagerdialog_Explainer"]{
    color: var(--OffWhite);
}

[class*="screenshotmanagerdialog_ButtonBox"][class*="Secondary"], [class*="screenshotmanagerdialog_ButtonBox"][class*="Secondary"][class*="Disabled"]{
    background: var(--GreenBG);
    border: var(--Outset);
    border-radius: 0%;
    color: var(--OffWhite);
    transition: none;
}

[class*="screenshotmanagerdialog_ButtonBox"][class*="Secondary"]:hover{
    background: var(--GreenBG);
    color: var(--Maize);
}

[class*="screenshotmanagerdialog_ButtonBox"][class*="Secondary"]:active{
    background: var(--DarkGreenBG);
    border: var(--Inset);
}

[class*="screenshotmanagerdialog_Skeleton"], [class*="screenshotmanagerdialog_CaptionField"] {
    animation: none;
    background-color: var(--DarkGreenBG);
    border: var(--Inset);
}

[class*="screenshotmanagerdialog_ComboboxSelectorContextMenu"]{
    border: var(--Outset);
    background-color: var(--GreenBG);
    box-shadow: none;
}

[class*="screenshotmanagerdialog_ComboboxSelector"] [class*="Option"]:hover{
    color: var(--Maize);
    background-color: transparent;
}

[class*="screenshotmanagerdialog_Text"]{
    color: inherit;
}

[class*="screenshotmanagerdialog_IconButton"] [class*="screenshotmanagerdialog_IconButtonIcon"][class*="Active"]{
    color: var(--Maize);
}

[class*="screenshotmanagerdialog_Metadata"], [class*="screenshotmanagerdialog_CloudStorageImpact"]{
    color: var(--Label);
}

[class*="screenshotmanagerdialog_ButtonBox"][class*="screenshotmanagerdialog_Primary"]{
    background-color: var(--GreenBG);
    border: var(--Outset);
    border-radius: 0;
    transition: none;
    color: var(--OffWhite);
}

[class*="screenshotmanagerdialog_ButtonBox"][class*="screenshotmanagerdialog_Primary"]:hover{
    background-color: var(--GreenBG);
    color: var(--Maize);
}

[class*="screenshotmanagerdialog_ButtonBox"][class*="screenshotmanagerdialog_Primary"]:active{
    background-color: var(--DarkGreenBG);
    border: var(--Inset);
    transition: none;
}