._2lrrNsbFXBpMmd7sl1W8zv{
    border-radius: 0%;
    border: var(--Inset);
    background: var(--DarkGreenBG)
}

._2lrrNsbFXBpMmd7sl1W8zv ._3ZYYm7wmluBIHzjuILB3Fu{
    color: var(--OffWhite);
}

._1FPJYJrOP3sGOAaFkUKvsa.Secondary, ._1FPJYJrOP3sGOAaFkUKvsa.Secondary.Disabled{
    background: var(--GreenBG);
    border: var(--Outset);
    border-radius: 0%;
    color: var(--OffWhite);
    transition: none;
}

._1FPJYJrOP3sGOAaFkUKvsa.Secondary:hover{
    background: var(--GreenBG);
    color: var(--Maize);
}

._1FPJYJrOP3sGOAaFkUKvsa.Secondary:active{
    background: var(--DarkGreenBG);
    border: var(--Inset);
}

._2hywx1BkJ7qWVI5Z59Xad6, .oQafBNf0Aso9mt7Tt5wQi {
    animation: none;
    background-color: var(--DarkGreenBG);
    border: var(--Inset);
}

._4BQHp2F51n2v8292fxZLZ{
    border: var(--Outset);
    background-color: var(--GreenBG);
    box-shadow: none;
}

._1aTMGNRp1K10vpnZ0F-u4z .Option:hover{
    color: var(--Maize);
    background-color: transparent;
}

._1DrNvKetbw02_jhMu6TcLc{
    color: inherit;
}

._3xSgI5J3gGSy1D53uL4BLr ._3xSgI5J3gGSy1D53uL4BLr.ActiveTextChannel{
    color: var(--Maize);
}

._3GkZspseDhJvv1lGh90GZb, .XXxRYXxr1rFPzz6sbQaAL{
    color: var(--Label);
}

._1FPJYJrOP3sGOAaFkUKvsa._3RXwDIH9FKgDDHeFmbIraU{
    background-color: var(--GreenBG);
    border: var(--Outset);
    border-radius: 0;
    transition: none;
    color: var(--OffWhite);
}

._1FPJYJrOP3sGOAaFkUKvsa._3RXwDIH9FKgDDHeFmbIraU:hover{
    background-color: var(--GreenBG);
    color: var(--Maize);
}

._1FPJYJrOP3sGOAaFkUKvsa._3RXwDIH9FKgDDHeFmbIraU:active{
    background-color: var(--DarkGreenBG);
    border: var(--Inset);
    transition: none;
}