/* SFP users, you're in the right place! Millennium users, use the inbuilt config editor. */

/** Disable rare achievements effect */
/* @import url(css/config/rareachievements.css); */

/** Disable avatar borders/frames */
/* @import url(css/config/avatarframes.css); */

/** Disable status lines on PFPs in Friends */
/* @import url(css/config/statuslines.css); */

/** Disable Logo on download page */
/* @import url(css/config/downloadlogo.css); */