[class^="bottombar_BottomBar"]{
    background: transparent;
    box-shadow: none;
    padding: 0;
}

[class^="bottombar_FriendsButton"], [class^="bottombar_AddGameButton"]{
    background-color: var(--GreenBG);
    border: var(--Outset);
    padding: 3px;
    gap: 0;
} 

[class^="bottombar_FriendsButton"] [class*="Text"], [class^="bottombar_AddGameButton"] [class*="Text"]{
    color: var(--OffWhite) !important;
}

[class^="bottombar_DownloadStatusContent"] [class*="Icon"], [class^="bottombar_DownloadStatusContent"] [class*="Queue"]{
    color: var(--OffWhite);
    box-shadow: none;
}

[class^="bottombar_FriendsButton"] [class*="Icon"], [class^="bottombar_AddGameButton"] [class*="Icon"]{
    display: none;
}

[class^="bottombar_DetailedDownloadProgress_"] [class^="bottombar_ProgressBarWrapper_"] [class^="progressbar_ProgressBar"]{
    --color-progress-bar-foreground: var(--Maize) !important;
    border: var(--Inset);
}

[class^="bottombar_Status_"]{
    color: var(--Maize) !important;
}

[class*="updatealert_Alert_"]{
    background: var(--MaizeBG);
    border: none;
}

[class*="updatealert_Alert"] [class*="updatealert_AlertButton"], [class*="updatealert_Alert"] [class*="updatealert_AlertButton"]:hover{
    background: var(--Maize);
    border: var(--Outset);
}

[class*="updatealert_Alert"] [class*="updatealert_AlertButton"]:active{
    background: var(--MaizeBG);
    border: var(--Inset);
}