
[class*="steamdesktop_URLBarReplacement_"]{
    display: none;
}

[class*="steamdesktop_TopBar_"]{
    background-color: var(--GreenBG) !important;
    flex-direction: row !important;
    box-shadow: none !important;
    border: none;
    padding-bottom: 3px;
    position: relative;
}

[class*="steamdesktop_TopBar_"] > div{
    padding: 0;
    margin: 0;
}

/* RootMenu Buttons ======================================================================= */
[class*="rootmenu_RootMenuButton_"]{
    color: var(--OffWhite);
    padding: 0% 4px;
    height: min-content;
}

/* Navigation Buttons ======================================================================= */

[class*="supernav_MenuButton"]{
    background-color: var(--GreenBG) !important;
    border: var(--Outset);
    border-radius: 0%;
    text-decoration: none !important;
    font-weight: normal !important;
    padding: 5px 8px !important;
    font-size: 12px !important;
    text-transform: none;
    color: var(--OffWhite);
}

[class*="supernav_SuperNav_"] [class*="menu_MenuWrapper"]{
    padding: 5px;
}

[class*="menu_MenuWrapper"][class*="Selected"] [class*="supernav_MenuButton"]{
    color: var(--Maize) !important;
    border: var(--Inset);
}

[class*="menu_MenuWrapper"][class*="Selected"] [class*="supernav_MenuButton"]::after{
    display: none !important;
}

/* Dropdowns ======================================================================= */
[class*="menu_MenuItem"]{
    background-color: var(--GreenBG);
}
[class*="menu_MenuItem"]:hover{
    background-color: var(--GreenBG) !important;
}

/* Account & News & More ======================================================================= */
[class*="titlebarcontrols_TitleBarControls"]{
    position: absolute;
    right: 0;
    align-items: start;
}

[class*="titlebarcontrols_GamepadUIToggle"], [class*="titlebarcontrols_VRToggle"], [class*="titlebarcontrols_AnnouncementsButton"], [class*="titlebarcontrols_NotificationsButton"]{
    background-color: var(--GreenBG) !important;
    border: var(--Outset);
    border-radius: 0%;
    padding: 5px;
    margin: 0 5px 3px;
    position: relative;
    width: 17px !important;
    min-width: 17px !important;
    height: 17px !important;
    min-height: 17px !important;
    color: var(--OffWhite) !important;
}

.SVGIcon_Notification{
    color: var(--OffWhite) !important;
}

[class*="titlebarcontrols_GamepadUIToggle"]:hover, [class*="titlebarcontrols_VRToggle"]:hover, [class*="titlebarcontrols_AnnouncementsButton"]:hover, [class*="titlebarcontrols_NotificationsButton"]:hover{
    background-color: var(--GreenBG) !important;
    border: var(--Outset);
    color: #fff !important;
}

[class*="titlebarcontrols_GamepadUIToggle"] svg{
    position: static !important;
    top: auto !important;
}

[class*="titlebarcontrols_AccountMenu_"]{
    background-color: var(--GreenBG) !important;
    border: var(--Outset);
    height: 27px !important;
    min-height: 27px !important;
}

[class*="steamavatar_avatarStatus"], [class*="titlebarcontrols_AccountMenu_"] [class*="titlebarcontrols_Chevron"]{
    display: none !important;
    background: transparent !important;
}

[class*="titlebarcontrols_AccountMenu_"].online div{
    color: var(--OffWhite);
    font-weight: 100;
}
[class*="titlebarcontrols_AccountMenu_"].ingame div{
    color: var(--Maize);
    font-weight: 100;
}

[class*="steamavatar_avatar"]{
    box-shadow: none;
    border: none;
}