/* General Frame =================================================================*/

.client_chat_frame.ChatPopup body > .popup_chat_frame{
    background-color: var(--GreenBG);
    border: var(--Outset);
    padding: 0 5px;
    z-index: 1000;

}

.titleBarContainer.ChatTabs{
    background-color: var(--GreenBG);
    border: none;
    box-shadow: none;
}

.J8J3o5BtWdX2ZAOJB2AE6::before, .J8J3o5BtWdX2ZAOJB2AE6:last-of-type::after{
    display: none;
}

.chatTabList>div, .HorizontalMiniSlider, .HorizontalMiniSliderScroll{
    overflow: visible;
}

.client_chat_frame.ChatPopup .chatTitleBar{
    border-bottom: var(--Outset);
}

.X2iywwN7fcdh9zXpXVsrk{
    padding: 5px 8px;
    border: var(--Outset);
    border-radius: 0%;
    transition: none;
    background-color: var(--GreenBG) !important;
    min-width: 0;
    white-space: nowrap;
    margin-top: 2px;
    border-bottom: none;
}

.X2iywwN7fcdh9zXpXVsrk._1BNlZUYDbVr8VhCTmq7ksk{
    background-color: var(--DarkGreenBG) !important;
    border: var(--Inset);
    border-bottom: none;
    /* transform: translateY(-1px); */
    min-height: 36px;
    height: 100%;
    margin-top: 0;
    position: relative;
}

.chatWindow{
    background: var(--DarkGreenBG);
}

.chatWindow .chatHeader{
    min-height: 1px;
    transition: none;
    background: transparent;
}

.inviteAnotherFriendButton{
    background: var(--GreenBG);
    border: var(--Outset);
    border-radius: 0%;
    transition: none;
}


.inviteAnotherFriendButton:hover .invitePlus{
    transition: none;
    transform: scale(1);
}

.inviteAnotherFriendButton .SVGIcon_Button{
    fill: var(--OffWhite);
    transition: none;
}

.inviteAnotherFriendButton:hover .SVGIcon_Button{
    fill: var(--Maize);
}

.inviteAnotherFriendButton .SVGIcon_Button line{
    transition: none;
    stroke: var(--OffWhite);
}

.inviteAnotherFriendButton:hover .SVGIcon_Button line{
    stroke: var(--Maize);
}

/* Bottom Bar =================================================================*/

.chatWindow .chatEntry{
    background: var(--GreenBG);
    box-shadow: none;
    padding-left: 0;
}

._3grea2u6WuuGLHj9gJFmzY{
    background: var(--GreenBG);
    box-shadow: none;
    margin: 0;
    padding: 2px 0;
}

._2gP0DqVyb1aEACymAe6if3{
    background: var(--GreenBG);
    box-shadow: none;
    justify-content: center;
}

.pewyBQoFSgFWo_Ms99aRm{
    box-shadow: none;
    color: var(--OffWhite);
    border: var(--Inset);
    background-color: var(--DarkGreenBG);
    margin: 2px 4px 2px 0;
    padding: 1px 4px;
}

._2gP0DqVyb1aEACymAe6if3 ._1IEiKQnjHpIv-m601y6hvP:not(.disabled), .VoiceToggle:not(.Disabled), .VoiceToggle:not(.Disabled):hover{
    background: var(--GreenBG);
    color: var(--OffWhite);
    opacity: 1;
}

._2gP0DqVyb1aEACymAe6if3 ._1IEiKQnjHpIv-m601y6hvP, .VoiceToggle, .VoiceToggle.Disabled:hover{
    background: var(--GreenBG);
    border: var(--Outset);
    color: var(--DisabledText1);
    opacity: 0.5;
    transition: none;
}

.ChatMessageEntryVoice, .ChatMessageEntryVoice.Disabled{
    border: none;
    opacity: 1;
    outline: none;
    background: transparent;
    box-shadow: none;
    transition: none;
    margin: 0;
} 

._1IEiKQnjHpIv-m601y6hvP._24xNxnnkSf6A1WY3MnCCeg, ._1IEiKQnjHpIv-m601y6hvP.K-lPMiafCuZRqjfXykujt{
    background: var(--GreenBG) !important;
    border: var(--Outset);
    margin: 0 2px;
    color: var(--OffWhite);
}

._1IEiKQnjHpIv-m601y6hvP .SVGIcon_Submit, ._1IEiKQnjHpIv-m601y6hvP .SVGIcon_Submit path, .friendsui-container .SVGIcon_Button.SVGIcon_VoiceRoom, .VoiceToggleIconCtn{
    fill: currentColor !important;
    color: inherit;
}

._1IEiKQnjHpIv-m601y6hvP._24xNxnnkSf6A1WY3MnCCeg svg, ._1IEiKQnjHpIv-m601y6hvP.K-lPMiafCuZRqjfXykujt svg{
    color: var(--OffWhite);
}

._1IEiKQnjHpIv-m601y6hvP._24xNxnnkSf6A1WY3MnCCeg:hover svg, ._1IEiKQnjHpIv-m601y6hvP.K-lPMiafCuZRqjfXykujt:hover svg, ._2gP0DqVyb1aEACymAe6if3 ._1IEiKQnjHpIv-m601y6hvP:not(.disabled):hover svg, .VoiceToggle:not(.Disabled):hover svg{
    color: var(--Maize) !important;
}

/* Chat Content =================================================================*/

.chatHistoryScroll{
    border: var(--Inset);
    border-top: none;
} 

.speakerTimeStamp, .msg.timeDivision{
    color: var(--DimListText);
}

.timeDivision .preHorizDivider, .timeDivision .horizDivider{
    background-color: var(--DimListText);
}

.timeDivision.time_passes{
    padding-top: 12px;
}
.timeDivision.time_passes .preHorizDivider, .timeDivision.time_passes .horizDivider{
    border: 1px var(--Maize) solid;
    margin: 0;
}
.timeDivision.time_passes::before{
    content: "New Messages";
    margin: auto;
    color: var(--Maize);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
}

._3kEgIPZCMTtXeWWzzRLo4K:hover {
    background: transparent
}

.chatWindow .speaker .speakerName{
    padding-left: 2px;
}

._2EAaUMq8cHVzfuKK6YQnpR, .isCurrentUser ._2EAaUMq8cHVzfuKK6YQnpR{
    color: var(--OffWhite);
}

._1siGy9uIqY5Aairhl31PTI, .isCurrentUser ._1siGy9uIqY5Aairhl31PTI{
    color: var(--Maize);
}

.MultiUserChat .isCurrentUser .msgText{
    color: var(--OffWhite);
}

._3kEgIPZCMTtXeWWzzRLo4K ._3nIwHFIw4nSXC_DUrzO_a6{
    background-color: transparent;
    border: none;
    border-radius: 0;
}

._3kEgIPZCMTtXeWWzzRLo4K ._3nIwHFIw4nSXC_DUrzO_a6 > .x623f5XW8KKftpfX7C_tg{
    border: var(--Outset);
    background: var(--GreenBG);
    stroke: var(--OffWhite);
    color: var(--OffWhite);

}

._3kEgIPZCMTtXeWWzzRLo4K ._3nIwHFIw4nSXC_DUrzO_a6 > .x623f5XW8KKftpfX7C_tg:hover{
    stroke: var(--Maize);
    color: var(--Maize);
}

/* Emoji Selector ================================================================= */
._3ff2fpyHtj6qUHH3pPpjyw{
    text-transform: none;
    color: var(--OffWhite);  
} 

._1c-qebyqfejBT8hBvbUY7p{
    background-color: var(--DarkGreenBG);
    border: var(--Inset);
}

.vzSOldNc6qJmpXlLVoi8i ._18mhxKaUFfaWL6pJANncsS, .vzSOldNc6qJmpXlLVoi8i ._18mhxKaUFfaWL6pJANncsS:hover, .vzSOldNc6qJmpXlLVoi8i ._18mhxKaUFfaWL6pJANncsS:focus{
    background: var(--DarkGreenBG) !important;
    border: var(--Inset);
    color: var(--OffWhite);
    box-shadow: none;
    border-radius: 0%;
}

._3DjoXcx0aMRDIV1BxLzlzU{
    border: none;
}

._1F8BhKKWf_XhG9QsmY_4lp._2bg1wWoNj7Bs0BSiao9e9x, ._1F8BhKKWf_XhG9QsmY_4lp:active{
    background-color: var(--DarkGreenBG);
    border: var(--Inset);
    color: var(--Maize);
    margin-bottom: 4px;
}

._1F8BhKKWf_XhG9QsmY_4lp:not(._2bg1wWoNj7Bs0BSiao9e9x){
    background-color: var(--GreenBG);
    border: var(--Outset);
    color: var(--OffWhite);
    margin-bottom: 4px;
}

._1F8BhKKWf_XhG9QsmY_4lp:not(._2bg1wWoNj7Bs0BSiao9e9x):hover{
    color: var(--Maize);
}

._1F8BhKKWf_XhG9QsmY_4lp ._2MluNdiOiHT-XKPQfFiIax{
    color: inherit !important;
    background-color: transparent !important;
    opacity: 1;
    width: 28px;
    height: 28px;
    padding: 2px;
}

._1F8BhKKWf_XhG9QsmY_4lp ._2MluNdiOiHT-XKPQfFiIax svg{
    fill: currentColor;
}

._2tnPHy-nozONfkJPqkZciP ._3zgndNTKG2ncwQVa-HXHBQ:hover, ._2tnPHy-nozONfkJPqkZciP ._3zgndNTKG2ncwQVa-HXHBQ._3GiAck-LzSOtfHEzFFPIIf{
    background-color: transparent;
}

._2tnPHy-nozONfkJPqkZciP ._3zgndNTKG2ncwQVa-HXHBQ:hover img, ._2tnPHy-nozONfkJPqkZciP ._3zgndNTKG2ncwQVa-HXHBQ._3GiAck-LzSOtfHEzFFPIIf img{
    filter: 
    drop-shadow(1px 1px 0px var(--Maize)) 
    drop-shadow(-1px 1px 0px var(--Maize)) 
    drop-shadow(1px -1px 0px var(--Maize)) 
    drop-shadow(-1px -1px 0px var(--Maize));
}

._1GtsZWvAAnnuk-EjFP3su2{
    background: var(--GreenBG);
    border: var(--Outset);
    border-radius: 0%;
    box-shadow: none;
}

/* Chatroom =================================================================*/
/* I hate group chats they do not get special treatment they will look like suck!!! */
.chatRoomGroupHeader{
    border: none;
    background-color: var(--GreenBG);
}

.chatRoomGroupNavColumn, .MemberListColumn, .chatRoomMembers{
    box-shadow: none;
    background: var(--GreenBG);
    border: none;
}

/* TODO: Find a way to differenciate groups and individual chats */
/* .chatHistoryAndMembers .chatHistoryScroll{
    border-left: var(--Outset);
} */