/* Window Buttons */

.friendsui-container .window-controls{
    padding: 5px 5px 0 0;
}

.friendsui-container .title-area-icon{
    width: 28px;
}

.friendsui-container .title-area-icon .title-area-icon-inner{
    background: var(--GreenBG);
    border: var(--Outset);
    border-radius: 0%;
    height: 20px;
    width: 20px;
    transition: none; 
    margin: 3px;
}

.friendsui-container .title-area-icon:hover{
    background: transparent !important;
}

.friendsui-container .title-area-icon:active .title-area-icon-inner{
    background: var(--DarkGreenBG);
    border: var(--Inset);
}

.friendsui-container .title-area-icon .title-area-icon-inner [class*="SVGIcon"] line, .friendsui-container .title-area-icon .title-area-icon-inner [class*="SVGIcon"] rect, .friendsui-container .title-area-icon .title-area-icon-inner [class*="SVGIcon"] polyline{
    stroke: var(--OffWhite) !important;
    transition: none;
}

.friendsui-container .title-area-icon:hover .title-area-icon-inner [class*="SVGIcon"] line, .friendsui-container .title-area-icon:hover .title-area-icon-inner [class*="SVGIcon"] rect, .friendsui-container .title-area-icon:hover .title-area-icon-inner [class*="SVGIcon"] polyline{
    stroke: var(--Maize) !important;
}

/* Disconnected message */
.ConnectionTroubleContent{
    background: var(--LightGreenBG)
}

.title-area-highlight{
    display: none;
}

/* Header / Favorites / You */

[class*="friendslist_RemotePlayInviteLinkSection"]{
    position: absolute;
    right: 8px;
    top: 36px;
    z-index: 5;
}

[class*="friendslist_RemotePlayInviteLinkSection"] [class*="friendslist_LinkRow_"]{
    background-color: var(--GreenBG);
    color: var(--OffWhite);
    border: var(--Outset);
    margin: 0px;
    width: min-content;
    height: min-content;
    padding: 0;
}

[class*="friendslist_RemotePlayInviteLinkSection"] [class*="friendslist_LinkRow"] [class*="friendslist_LinkRowText"]{
    display: none;
}

[class*="friendslist_RemotePlayInviteLinkSection"] [class*="friendslist_LinkRow"] [class*="friendslist_LinkRowIconContainer"]{
    margin: 0;
    width: 20px;
    height: 20px;
}

[class*="friendslist_RemotePlayInviteLinkSection"] [class*="friendslist_LinkRow"] [class*="friendslist_LinkRowIcon_"]{
    padding: 1px;
    width: 18px;
    height: 18px;
}

.friendListHeaderContainer {
    box-shadow: none;
    background: var(--GreenBG);
}

.currentUserContainer, .quickAccessFriends{
    border: none;
    padding: 0 5px;
}


.statusHeaderGlow, .chatTitleBar .title-area-highlight, .singleWindowFocusBar.chatSingleWindowFocusBar{
    display: none;
    opacity: 0 !important;
}

.currentUserAvatar:hover{
    transform: scale(1);
    filter: brightness(1);
}

.quickAccessFriends .favoriteElement .friend .avatarHolder img, .quickAccessFriends .favoriteElement .friend .playerName{
    transition: none;
}

.quickAccessFriends .favoriteElement:hover .friend .avatarHolder{
    transform: scale(0.86);
    
}

.quickAccessFriends .favoriteElement:hover .friend .playerName{
    color: var(--Maize);
}

:not(.friendInviteContainer) .online .ContextMenuButton .SVGIcon_DownArrowContextMenu{
    fill: var(--OffWhite);
}

:not(.friendInviteContainer) .online .ContextMenuButton:hover .SVGIcon_DownArrowContextMenu, :not(.friendInviteContainer) .ingame .ContextMenuButton .SVGIcon_DownArrowContextMenu{
    fill: var(--Maize);
}

.friendsui-container .friendsContextMenu .contextMenuSectionContent .menuChecked{
    color: var(--Maize);
}

.friendsui-container .friendsContextMenu [class*="persona_menu"]{
    color: var(--DimListText);
}


/* Friends navbar */

.activeTab{
    background: var(--GreenBG);
    box-shadow: none;
    color: var(--OffWhite);
    text-transform: none;
}

.activeTab .TabSearchButton, .activeTab .TabSearchButton:hover{
    background: var(--DarkGreenBG);
    border: var(--Inset);
    box-shadow: none;
}

.friendSearchInput[type=text], .friendSearchInput[type=text]:focus{
    background: transparent;
    box-shadow: none;
}

.friendRequestButton .SVGIcon_FriendRequest .redCircle{
    fill: var(--Maize);
    transition: none;
}

.friendsTabButtonsContainer svg[class*="SVGIcon"] > path, .friendsTabButtonsContainer svg[class*="SVGIcon"] > g{
    fill: var(--OffWhite) !important;
    color: var(--OffWhite) !important;
}

.TabSearchButton .ColorSelector {
    fill: var(--OffWhite) !important;
    stroke: var(--OffWhite) !important;
}

/* Friends */

::-webkit-scrollbar-thumb{
    background-color: var(--GreenBG) !important;
    border-radius: 0% !important;
}

.FriendsListContent{
    background: var(--GreenBG)
}

.friendlistListContainer{
    background: var(--DarkGreenBG);
    margin: 0 5px;
    border: var(--Inset);
}

[class*="insetshadow_FriendListInsetShadow"]{
    display: none;
}

.FriendsListContent .friendlistListContainer .friendGroup.onlineFriends{
    border-top: 1px solid var(--Maize);
}

.friend.ingame, .ingame [class*="personanameandstatus_playerName"]{
    color: var(--Maize);
}

.friend.online, .online [class*="personanameandstatus_playerName"], .online [class*="personanameandstatus_gameName"][class*="personanameandstatus_richPresenceLabel"]{
    color: var(--OffWhite);
}

.ingame[class*="personanameandstatus_twoLine"] [class*="personanameandstatus_richPresenceLabel"], .ingame [class*="personanameandstatus_richPresenceContainer"] [class*="personanameandstatus_richPresenceLabel"]{
    color: var(--Maize);
    opacity: 0.65;
}

[class*="steamavatar_avatar"]{
    box-shadow: none;
    width: 100%;
    height: 100%;
    border: none;
    transition: none;
}

.ingame .avatarStatus{
    background: var(--Maize)
}

[class*="personastatusicons_PersonaStatusIcon"].online .SVGIcon_MobilePhone path{
    fill: currentColor;
}

[class*="friendsnooze_SnoozeContainer"][class*="Dim"].online [class*="friendsnooze_SnoozeZ"], [class*="friendsnooze_SnoozeContainer"].online [class*="friendsnooze_SnoozeZ"]{
    color: var(--OffWhite);
    text-shadow: none;
}

[class*="friendsnooze_SnoozeContainer"][class*="Dim"].in-game [class*="friendsnooze_SnoozeZ"], [class*="friendsnooze_SnoozeContainer"].in-game [class*="friendsnooze_SnoozeZ"]{
    color: var(--Maize);
    text-shadow: none;
}

.groupName .gameGroupContainer .groupIcon, [class*="GameIcon"] img{
    border-radius: 0;
    box-shadow: none;
}

[class*="personastatusicons_PersonaStatusIcon"].ingame .SVGIcon_MobilePhone path{
    fill: var(--Maize);
}

.friendStatusHover.ingame:hover, .friendStatusHover.ingame.Friend_ContextMenuActive, .friendStatusHover.online:hover, .friendStatusHover.online.Friend_ContextMenuActive, .friendStatusHover.offline:hover, .friendStatusHover.offline.Friend_ContextMenuActive{
    background: transparent;
}

/* Friends Categories Creation */

.FriendPicker_ChosenFriend{
    border: var(--Outset);
    background: var(--GreenBG);
    border-radius: 0;
    color: var(--OffWhite);
}

.FriendPicker_ChosenFriend:hover{
    color: var(--Maize)
}

.FriendPicker_ChosenFriend span{
    color: inherit !important;
}

.FriendPicker_ChosenFriend .SVGIcon_X_Line line{
    stroke: currentColor !important;
}

.FriendPicker_Focus .FriendPicker_SuggestedFriend.Focus{
    background: transparent;
}

/* Group chats */
.friendsListSectionTitle, .friendsListSectionTitle.chatSectionTitle:hover, .friendListFooter {
    background: var(--GreenBG);
    box-shadow: none;
    color: var(--OffWhite);
    text-transform: none;
}

.friendsListSectionTitle .SVGIcon_NewChatGroup, .friendsListSectionTitle .SVGIcon_NewChatGroup:hover {
    fill: var(--OffWhite);
}
.friendsListSectionTitle .SVGIcon_NewChatGroup line{
    color: var(--GreenBG);
}

.chatRoomListContainer{
    background: var(--DarkGreenBG);
    margin: 0 5px;
    border: var(--Inset);
}

.ChatRoomListGroupItem:hover .ChatRoomListGroupItem_header{
    background: transparent;
}

.ChatRoomListGroupItem .groupNameStatusContainer .chatRoomName{
    color: var(--OffWhite);
}

.ChatRoomListGroupItem .ChatRoomListGroupItem_header:hover .groupNameStatusContainer .chatRoomName{
    color: var(--Maize);
}

/* Right click popup */
[class*="contextmenu_contextMenu_"]{
    color: var(--OffWhite) !important;
    background: var(--GreenBG) !important;
    border: var(--Outset) !important;
    border-radius: 0%;
    box-shadow: none;
}

[class*="contextmenu_contextMenuItem"]{
    color: var(--OffWhite);
}

.contextMenuUnselectable, .contextMenuUnselectable.disabled, .contextMenuGameTitle, .contextMenuBroadcast, .contextMenuGameOptions{
    background: transparent;
}

.contextMenuItem:hover, .contextMenuItem[class*="active"]{
    background: var(--GreenBG) !important;
    color: var(--Maize);
}
